<!-- Loading spinner -->
<div *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="container forms-container">
  <div class="row">
    <section class="col">
      <form role="form">
        <mat-tab-group #matgroup class="form-tab-conatiner" mat-align-tabs="center" [selectedIndex]="selectedIndex">
          <mat-tab label="Personal Details">
            <div class="tab-pane active tabs-align-padding" role="tabpanel" id="step1">
              <div class="card-margin background-new-form">
                <mat-card-title class="mat_card_title">
                  <p class="forms-heading new-heading-nestimate">Personal Details</p>
                </mat-card-title>
                <p class="forms-star new-heading-nestimate">*required</p>
              </div>
              <div class="card-margin background-new-form">
                <mat-form-field>
                  <span class="fixed-Label">
                    Title*
                  </span>
                  <mat-select name="title" [(ngModel)]="title" class="drop-down-list">
                    <mat-option value="Mr">Mr</mat-option>
                    <mat-option value="Ms">Ms</mat-option>
                    <mat-option value="Mrs">Mrs</mat-option>
                  </mat-select>
                </mat-form-field>
                <!--First Name-->
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <span class="fixed-Label">
                      Full Name*
                    </span>
                    <input matInput [formControl]="FirstnameFormControl" name="First" class="mat-mail-input"
                      [(ngModel)]="Name">
                    <mat-error
                      *ngIf="FirstnameFormControl.hasError('First Name') && !FirstnameFormControl.hasError('required')">
                      Please enter a valid name
                    </mat-error>
                    <mat-error *ngIf="FirstnameFormControl.hasError('required')">
                      FirstName is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </form>
                <!--First Name End-->


                <!--Email Field End-->
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <span class="fixed-Label">
                      Email Address*
                    </span>
                    <input matInput name="Email" class="mat-mail-input" [(ngModel)]="email"
                      [formControl]="emailFormControl">

                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </form>
                <!--Email Field End-->


                <!--Date Of Birth Field-->
                <mat-form-field class="example-full-width">
                  <span class="fixed-Label">
                    DD/MM/YYYY*
                  </span>
                  <input matInput [matDatepicker]="picker" name="DOB" class="mat-mail-input" [(ngModel)]="DOB">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!--Date Of Birth Field End-->


                <!--Phone Number field-->
                <mat-form-field class="example-full-width">
                  <span class="fixed-Label">
                    Phone Number*
                  </span>

                  <input matInput name="phonenumber" class="mat-mail-input" [(ngModel)]="Phone" type=”tel”
                    [formControl]="phoneFormControl" maxlength="10">
                  <span class="fixed-label">+44</span>
                  <mat-error *ngIf="phoneFormControl.hasError('phonenumber') && !phoneFormControl.hasError('required')">
                    Please enter a valid Phone Number
                  </mat-error>
                  <mat-error *ngIf="phoneFormControl.hasError('required')">
                    Phone Number is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="phoneFormControl.hasError('pattern')">
                    Phone Number is <strong>not valid</strong>

                  </mat-error>
                </mat-form-field>

                <!--Phone Number field-->



              </div>
              <!--Current Living-->
              <div class="card-margin background-new-form">
                <mat-card-title class="mat_card_title">
                  <p class="forms-heading new-heading-nestimate">Your Address</p>
                </mat-card-title>
                <p class="paragraph-color new-heading-nestimate">Area - Search by Postcode</p>
                <mat-option style="background-color: #f5f5f5;border-bottom:  1px solid  var(--light-blue-color) ;">
                  <span class="fixed-Label">
                    Enter Postcode*
                  </span>
                  <input [formControl]="autoCompleteControlCurrent" type="text" aria-label="Post Code" matInput
                    [matAutocomplete]="autoCurrent" [(ngModel)]="Currentpostcode">
                  <mat-autocomplete autoActiveFirstOption #autoCurrent="matAutocomplete"
                    (optionSelected)='getPosts($event.option.value)'>
                    <mat-option *ngFor="let item of addressianAutoCompleteCurrent$ | async; let index=index"
                      [value]="item">
                      <span *ngFor="let i of item.address">{{i}} </span> | <span>{{ item.postcode | titlecase}}
                      </span> | <span>{{ item.citytown | titlecase}}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-option>
                <p class="paragraph-color new-heading-nestimate">Area - Search by Address</p>
                <mat-form-field class="example-full-width">
                  <span class="fixed-Label">
                    Address*
                  </span>
                  <input matInput [formControl]="AddressFormControl" name="CurrentAddress" class="mat-mail-input"
                    [(ngModel)]="CurrentAddress">

                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <span class="fixed-Label">
                    Town/City*
                  </span>
                  <input matInput [formControl]="TownFormControl" [(ngModel)]="CurrentTown" name="CurrentTown"
                    class="mat-mail-input">

                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <span class="fixed-Label">
                    County*
                  </span>
                  <input matInput [formControl]="stateFormControl" required [(ngModel)]="Currentstate"
                    name="Currentstate" class="mat-mail-input">
                </mat-form-field>
              </div>
              <!--Current Living  End-->
              <ul class="submit-button">
                <div class="button-next">
                  <a (click)="selectTab(1, 0)" class="btn btn-primary btnNext btn-next">Next</a>
                </div>
              </ul>
            </div>
          </mat-tab>

          <mat-tab label="Property Details">
            <div class="tab-pane tabs-align-padding" role="tabpanel" id="step2">







              <!--Where Are Looking for property-->
              <div class="card-margin background-new-form">
                <mat-card-title class="mat_card_title new-heading-nestimate">are you looking to</mat-card-title>
                <mat-radio-group aria-label="Select an option" class="radio-top-buyer" name="PropertyFor"
                  [(ngModel)]="listingSeller.PropertyFor" (change)="radioChange($event)">
                  <mat-radio-button value="buy">Sell</mat-radio-button>
                  <mat-radio-button value="rent">Let</mat-radio-button>
                </mat-radio-group>
                <p class="forms-heading new-heading-nestimate pb-2">Please fill in details of the property for sale</p>
                <mat-checkbox (change)='getSame(Seller)' class="new-heading-nestimate" style="color:white"><span
                    class="new-heading-nestimate">Same as residential address</span></mat-checkbox>
                <mat-card-title class="mat_card_title">
                  <p class="forms-heading new-heading-nestimate">Address of property for sale</p>
                </mat-card-title>

                <p class="mt-4 new-heading-nestimate">Search by Postcode</p>

                <mat-option style="background-color: #f5f5f5;border-bottom:  1px solid  var(--light-blue-color) ;">
                  <span class="fixed-Label">
                    Enter Postcode*
                  </span>
                  <input [formControl]="autoCompleteControlLooking" type="text" aria-label="Post-Code" matInput
                    [matAutocomplete]="autoLooking" [(ngModel)]="listingSeller.Lookingpostcode">
                  <mat-autocomplete autoActiveSecondOption #autoLooking="matAutocomplete"
                    (optionSelected)='getPost($event.option.value)'>
                    <mat-option *ngFor="let item of addressianAutoCompleteLooking$ | async; let index=index"
                      [value]="item">
                      <span *ngFor="let i of item.address">{{i}} </span> | <span>{{ item.postcode | titlecase}}
                      </span> | <span>{{ item.citytown | titlecase}}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-option>



                <p class="mt-4 new-heading-nestimate">Search by Address</p>
                <mat-form-field class="example-full-width">
                  <span class="fixed-Label">
                    Address*
                  </span>
                  <input matInput name="LookingAddress" class="mat-mail-input"
                    [(ngModel)]="listingSeller.LookingAddress">

                </mat-form-field>
                <mat-form-field class="example-full-width mb-3">
                  <span class="fixed-Label">
                    Town/City*
                  </span>
                  <input matInput [(ngModel)]="listingSeller.LookingTown" name="LookingTowncity" class="mat-mail-input">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <span class="fixed-Label">
                    County*
                  </span>
                  <input matInput required [(ngModel)]="listingSeller.Lookingstate" name="Lookingstate"
                    class="mat-mail-input">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <span class="fixed-Label">
                    Country*
                  </span>
                  <input matInput required [(ngModel)]="listingSeller.Country" name="Country" class="mat-mail-input">
                </mat-form-field>
              </div>
              <!--Where Are Looking for property End-->



              <div class="card-margin background-new-form">


                <mat-form-field class="example-full-width">
                  <span class="fixed-Label">
                    Property Type*
                  </span>
                  <mat-select [(ngModel)]="listingSeller.PropertyType" value="PropertyType" name="PropertyType">
                    <mat-option value="Flat">Flat</mat-option>
                    <mat-option class="example-margin" value="Studio">Studio</mat-option>
                    <mat-option class="example-margin" value="Terracedhouse">Terraced house</mat-option>

                    <mat-option class="example-margin" value="Maisonette">Maisonette</mat-option>
                    <mat-option class="example-margin" value="Semi-detached">Semi-detached house</mat-option>
                    <mat-option class="example-margin" value="Bungalow">Bungalow</mat-option>
                    <mat-option class="example-margin" value="Detachedhouse">Detached house</mat-option>
                    <mat-option class="example-margin" value="Town house">Town house</mat-option>
                    <mat-option class="example-margin" value="Country house">Country house</mat-option>
                    <mat-option class="example-margin" value="Barn conversion">Barn conversion</mat-option>
                    <mat-option class="example-margin" value="Farm">Farm</mat-option>
                    <mat-option class="example-margin" value="Houseboat">Houseboat</mat-option>
                    <mat-option class="example-margin" value="Lodge">Lodge</mat-option>

                  </mat-select>
                </mat-form-field><br>







                <!--Min Max Rooms-->

                <div class="price-selection">

                  <mat-form-field class="example-full-width">
                    <span class="fixed-Label">
                      No of Bedrooms*
                    </span>
                    <mat-select [(value)]="Maxrooms" name="Maxrooms" [(ngModel)]="listingSeller.Maxrooms">
                      <mat-option value="Studio">Studio</mat-option>
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                      <mat-option value="4">4</mat-option>
                      <mat-option value="5">5 or More</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="max-amounts" *ngIf="maxamounts">
                  <!--Min Max Rooms End-->
                  <div class="price-selection" *ngIf="letOption">

                    <mat-form-field class="example-full-width">
                      <span class="fixed-Label">
                        Desired Rent*
                      </span>
                      <mat-select [(value)]="max" name="MaxAmount" [(ngModel)]="listingSeller.MaxAmount">
                        <mat-option value="100">100 pcm</mat-option>
                        <mat-option value="200">200 pcm</mat-option>
                        <mat-option value="300">300 pcm</mat-option>
                        <mat-option value="400">400 pcm</mat-option>
                        <mat-option value="500">500 pcm</mat-option>
                        <mat-option value="600">600 pcm</mat-option>
                        <mat-option value="700">700 pcm</mat-option>
                        <mat-option value="800">800 pcm</mat-option>
                        <mat-option value="900">900 pcm</mat-option>
                        <mat-option value="100">1000 pcm</mat-option>
                        <mat-option value="1250">1250 pcm</mat-option>
                        <mat-option value="1500">1500 pcm</mat-option>
                        <mat-option value="1750">1750 pcm</mat-option>
                        <mat-option value="2000">2000 pcm</mat-option>
                        <mat-option value="2250">2250 pcm</mat-option>
                        <mat-option value="2500">2500 pcm</mat-option>
                        <mat-option value="2750">2750 pcm</mat-option>
                        <mat-option value="3000">3000 pcm</mat-option>
                        <mat-option value="3250">3250 pcm</mat-option>
                        <mat-option value="3500">3500 pcm</mat-option>
                        <mat-option value="3750">3750 pcm</mat-option>
                        <mat-option value="4000">4000 pcm</mat-option>
                        <mat-option value="4250">4250 pcm</mat-option>
                        <mat-option value="4500">4500 pcm</mat-option>
                        <mat-option value="5000">5000 pcm</mat-option>
                        <mat-option value="5500">5500 pcm</mat-option>
                        <mat-option value="6000">6000 pcm</mat-option>
                        <mat-option value="6500">6500 pcm</mat-option>
                        <mat-option value="7000">7000 pcm</mat-option>
                        <mat-option value="7500">7500 pcm</mat-option>
                        <mat-option value="8000">8500 pcm</mat-option>
                        <mat-option value="9000">9000 pcm</mat-option>
                        <mat-option value="9500">9500 pcm</mat-option>
                        <mat-option value="10000">10000 pcm</mat-option>
                        <mat-option value="12500">125000 pcm</mat-option>
                        <mat-option value="15000">15000 pcm</mat-option>
                        <mat-option value="17500">17500 pcm</mat-option>
                        <mat-option value="20000">20000 pcm</mat-option>
                        <mat-option value="25000">25000 pcm</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <!--Min Max Amount-->

                  <div class="price-selection" *ngIf="sellOption">
                    <mat-form-field class="example-full-width">
                      <span class="fixed-Label">
                        Desired Price*
                      </span>
                      <mat-select [(value)]="max" name="MaxAmount" [(ngModel)]="listingSeller.MaxAmount">
                        <mat-option value="50,000">50,000</mat-option>
                        <mat-option value="60,000">60,000</mat-option>
                        <mat-option value="70,000">70,000</mat-option>
                        <mat-option value="80,000">80,000</mat-option>
                        <mat-option value="90,000">90,000</mat-option>
                        <mat-option value="100,000">100,000</mat-option>
                        <mat-option value="110,000">110,000</mat-option>
                        <mat-option value="120,000">120,000</mat-option>
                        <mat-option value="125,000">125,000</mat-option>
                        <mat-option value="130,000">130,000</mat-option>
                        <mat-option value="140,000">140,000</mat-option>
                        <mat-option value="150,000">150,000</mat-option>
                        <mat-option value="160,000">160,000</mat-option>
                        <mat-option value="170,000">170,000</mat-option>
                        <mat-option value="175,000">175,000</mat-option>
                        <mat-option value="180,000">180,000</mat-option>
                        <mat-option value="190,000">190,000</mat-option>
                        <mat-option value="200,000">200,000</mat-option>
                        <mat-option value="210,000">210,000</mat-option>
                        <mat-option value="220,000">220,000</mat-option>
                        <mat-option value="230,000">230,000</mat-option>
                        <mat-option value="240,000">240,000</mat-option>
                        <mat-option value="250,000">250,000</mat-option>
                        <mat-option value="260,000">260,000</mat-option>
                        <mat-option value="270,000">270,000</mat-option>
                        <mat-option value="280,000">280,000</mat-option>
                        <mat-option value="290,000">290,000</mat-option>
                        <mat-option value="300,000">300,000</mat-option>
                        <mat-option value="325,000">325,000</mat-option>
                        <mat-option value="350,000">350,000</mat-option>
                        <mat-option value="375000">375,000</mat-option>
                        <mat-option value="400,000">400,000</mat-option>
                        <mat-option value="425,000">425,000</mat-option>
                        <mat-option value="450,000">450,000</mat-option>
                        <mat-option value="475,000">475,000</mat-option>
                        <mat-option value="500,000">500,000</mat-option>
                        <mat-option value="525,000">525,000</mat-option>
                        <mat-option value="550,000">550,000</mat-option>
                        <mat-option value="575,000">575,000</mat-option>
                        <mat-option value="600,000">600,000</mat-option>
                        <mat-option value="625,000">625,000</mat-option>
                        <mat-option value="650,000">650,000</mat-option>
                        <mat-option value="675,000">675,000</mat-option>
                        <mat-option value="700,000">700,000</mat-option>
                        <mat-option value="725,000">725,000</mat-option>
                        <mat-option value="750,000">750,000</mat-option>
                        <mat-option value="775,000">775,000</mat-option>
                        <mat-option value="800,000">800,000</mat-option>
                        <mat-option value="825,000">825,000</mat-option>
                        <mat-option value="850,000">850,000</mat-option>
                        <mat-option value="875,000">875,000</mat-option>
                        <mat-option value="900,000">900,000</mat-option>
                        <mat-option value="925,000">925,000</mat-option>
                        <mat-option value="950,000">950,000</mat-option>
                        <mat-option value="975,000">975,000</mat-option>
                        <mat-option value="1,000,000">1000,000</mat-option>
                        <mat-option value="1,250,000">1250,000</mat-option>
                        <mat-option value="1,500,000">1500,000</mat-option>
                        <mat-option value="1,750,000">1750,000</mat-option>
                        <mat-option value="2,000,000">2000,000</mat-option>
                        <mat-option value="2,250,000">2250,000</mat-option>
                        <mat-option value="2,500,000">2500,000</mat-option>
                        <mat-option value="30,00,000">3000,000</mat-option>
                        <mat-option value="40,00,000">4000,000</mat-option>
                        <mat-option value="50,00,000">5000,000</mat-option>
                        <mat-option value="60,00,000">6000,000</mat-option>
                        <mat-option value="70,00,000">7000,000</mat-option>
                        <mat-option value="80,00,000">8000,000</mat-option>
                        <mat-option value="10,000,000">10000,000</mat-option>
                        <mat-option value="15,000,000">15000,000</mat-option>
                        <mat-option value="20,000,000">20000,000</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!--Min Max Amount End-->

                </div>

                <!--Ownership Field-->
                <mat-form-field class="example-full-width" style="width: 100%;">
                  <span class="fixed-Label">
                    Ownership*
                  </span>
                  <mat-select [(ngModel)]="listingSeller.ownership" value="ownership" name="ownership">
                    <mat-option value="Leasehold">Leasehold</mat-option>
                    <mat-option value="Freehold">Freehold</mat-option>
                    <mat-option value="Share of Freehold">Share of Freehold</mat-option>
                  </mat-select>
                </mat-form-field>
                <!--Ownership Field End-->



              </div>

              <div class="card-margin background-new-form">

                <p class="forms-heading new-heading-nestimate pb-2">Optional Details</p>

                <!--Min Max No of Bathrooms-->
                <div class="price-selection">
                  <mat-form-field class="example-full-width">
                    <span class="fixed-Label">
                      No of Bathrooms
                    </span>
                    <mat-select [(value)]="Maxbathrooms" name="Maxbathrooms" [(ngModel)]="listingSeller.Maxbathrooms">
                      <mat-option value="any"></mat-option>
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3 or more</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!--Min Max No of Bathrooms End-->
                <!--Min Max No of Reception Rooms-->
                <div class="price-selection">

                  <mat-form-field class="example-full-width">
                    <span class="fixed-Label">
                      No of Reception
                    </span>
                    <mat-select [(value)]="Maxreception" name="Maxreception" [(ngModel)]="listingSeller.Maxreception">
                      <mat-option value="any"></mat-option>
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3 or more</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!--Min Max No of Reception Rooms End-->

                <!--PropertyCondition Field-->
                <mat-form-field class="example-full-width" style="width: 100%;">
                  <span class="fixed-Label">
                    Property Condition
                  </span>
                  <mat-select [(ngModel)]="listingSeller.PropertyCondition" value="PropertyCondition"
                    name="PropertyCondition">
                    <mat-option value="any"></mat-option>

                    <mat-option value="Refurbished">Refurbished</mat-option>
                    <mat-option value="NewBuild">New Build</mat-option>
                    <mat-option value="Needsmodernisation">Needs modernisation</mat-option>
                  </mat-select>
                </mat-form-field>
                <!--PropertyCondition Field End-->
                <!--Aplicable Features-->

                <mat-form-field class="example-full-width">
                  <span class="fixed-Label">
                    Phone features
                  </span>
                  <mat-select [formControl]="features" multiple [(ngModel)]="listingSeller.features" #sl>
                    <div class="select-constion">
                      <img src="../../../../assets/Images/cross.png" class="button-cross" (click)="sl.close()">
                    </div>
                    <mat-option *ngFor="let features of applicable" [value]="features" class="select-check mat-check">
                      {{features}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!--Aplicable Feature End-->

              </div>


              <div class="button-next-tab2">
                <a (click)="selectTab(0, 1)" class="btn  btnPrevious btn-next">Previous</a>
                <a (click)="selectTab(2, 1)" class="btn btn-primary btnNext btn-next">Next</a>
              </div>
            </div>


          </mat-tab>


        </mat-tab-group>
      </form>
    </section>
  </div>
</div>