<!-- Loading spinner -->
<div *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

















<form >
  <mat-tab-group #matgroup class="form-tab-conatiner" [selectedIndex]="selectedIndex">
    <mat-tab label="Personal Details " class="tabs-align-padding">
      <div class="tab-pane active tabs-align-padding" role="tabpanel" id="step1">
        <div class="card-margin background-new-form">
          <mat-card-title class="mat_card_title">


            <p class="forms-heading new-heading-nestimate">Personal Details</p>
          </mat-card-title>
          <p class="forms-star new-heading-nestimate">*required</p>



          <mat-form-field>
            <span class="fixed-Label">
              Title*
            </span>
            <mat-select name="title" [(ngModel)]="title" class="drop-down-list">
              <mat-option value="Mr">Mr</mat-option>
              <mat-option value="Ms">Ms</mat-option>
              <mat-option value="Mrs">Mrs</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
             Full Name*
            </span>
           
            <input matInput  required name="Name" class="mat-mail-input" [(ngModel)]="Name">
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
              Email Address*
            </span>
            <input matInput name="Email" class="mat-mail-input" [(ngModel)]="email"
              [formControl]="emailFormControl">

            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>




          </mat-form-field>




          <!--Date Of Birth Field-->
          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
              DD/MM/YYYY*
            </span>
            <input matInput [matDatepicker]="picker"  name="DOB" class="mat-mail-input"
              value="DOB" [(ngModel)]="DOB">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

          </mat-form-field>
          <!--Date Of Birth Field End-->


          <!--Phone Number field-->
          <mat-form-field class="example-full-width">

            <span class="fixed-Label">
              Phone Number*
            </span>
           
            <input matInput  name="phonenumber" class="mat-mail-input"
              [(ngModel)]="Phone" type=”tel” [formControl]="phoneFormControl" maxlength="10">
              <span  class="custom-prefix">+44</span>
            <mat-error *ngIf="phoneFormControl.hasError('phonenumber') && !phoneFormControl.hasError('required')">
              Please enter a valid Phone Number
            </mat-error>
            <mat-error *ngIf="phoneFormControl.hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="phoneFormControl.hasError('pattern')">
              Phone Number is <strong>not valid</strong>

            </mat-error>
          
          </mat-form-field>

          <!--Phone Number field-->

     

        </div>
        <div class="card-margin background-new-form">
          <label class="new-heading-nestimate">Your Address</label>


          <p class="new-heading-nestimate">Area - Search by Postcode</p>

          <mat-option class="postcode-background" style="background-color: #f5f5f5;border-bottom:  1px solid  var(--light-blue-color) ;">
            <span class="fixed-Label">
             Enter Postcode*
            </span>
           
            <input [formControl]="autoCompleteControlCurrent" type="text" placeholder="Enter Postcode"
              aria-label="Post-Code" matInput [matAutocomplete]="auto" [(ngModel)]="listingBuyer.Currentpostcode">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
              (optionSelected)='getPost($event.option.value)'>
              <mat-option *ngFor="let item of addressianAutoCompleteCurrent$ | async; let index=index" [value]="item">
                <span *ngFor="let i of item.address">{{i}} </span> | <span>{{ item.postcode | titlecase}}
                </span> | <span>{{ item.citytown | titlecase}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-option>



          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
              Town/City*
            </span>
           
            <input matInput  [(ngModel)]="listingBuyer.CurrentTown" name="CurrentTowncity"
              class="mat-mail-input">
          </mat-form-field>

          <mat-form-field class="example-full-width" >
            <span class="fixed-Label">
              Full Address*
            </span>
           
            <textarea matInput  [formControl]="AddressFormControl" name="CurrentAddress"
              class="mat-mail-input line-break-field" [(ngModel)]="listingBuyer.CurrentAddress"></textarea>
            <mat-error *ngIf="AddressFormControl.hasError('Address') && !AddressFormControl.hasError('required')">
              Please enter a valid address
            </mat-error>
            <mat-error *ngIf="AddressFormControl.hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
              County*
            </span>
           
            <input matInput  required [(ngModel)]="listingBuyer.Currentstate" name="state"
              class="mat-mail-input">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
              Country*
            </span>
           
            <input matInput  required name="state" class="mat-mail-input"
              [(ngModel)]="listingBuyer.Currentcountry" name="country">
          </mat-form-field>

        </div>
        <div class="button-next">
          <a (click)="selectTab(1, 0)" class=" btn btn-primary btnNext btn-next">Next</a>
        </div>

      </div>

    </mat-tab>

    <mat-tab label="Property Details" class="tabs-align-padding">
      <div class="tabs-align-padding">



        <div class="card-margin background-new-form">
          <mat-card-title class="mat_card_title new-heading-nestimate">are you looking to</mat-card-title>
          <mat-radio-group aria-label="Select an option" class="radio-top-buyer" name="PropertyFor"
            [(ngModel)]="listingBuyer.PropertyFor"  (change)="radioChange($event)">
            <mat-radio-button value="buy" >Buy</mat-radio-button>
            <mat-radio-button value="rent">Rent</mat-radio-button>
          </mat-radio-group>

          <mat-card-title class="mat_card_title new-heading-nestimate">Please fill in the details of your desired
            property</mat-card-title>
          <p class="mt-4 new-heading-nestimate">Area - Search by Postcode</p>
          <mat-option style="background-color: #f5f5f5;border-bottom:  1px solid  var(--light-blue-color) ;">
            <span class="fixed-Label">
              Enter Postcode*
            </span>
            <input [formControl]="autoCompleteControlLooking" type="text" 
              aria-label="Post Code" matInput [matAutocomplete]="autolooking" [(ngModel)]="listingBuyer.Lookingpostcode"
              name="Lookingpostcode">
            <mat-autocomplete autoActivesecondOption #autolooking="matAutocomplete"
              (optionSelected)='getPosts($event.option.value)'>
              <mat-option *ngFor="let item of addressianAutoCompleteLooking$ | async; let index=index" [value]="item">
                <span *ngFor="let i of item.address">{{i}} </span> | <span>{{ item.postcode | titlecase}}
                </span> | <span>{{ item.citytown | titlecase}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-option>



          <p class="mt-4" class="new-heading-nestimate">Area - Search by Address</p>
          <mat-form-field class="example-full-width mb-3" >
            <span class="fixed-Label">
              Street Name*
            </span>
            <input matInput  class="mat-mail-input"
              [(ngModel)]="listingBuyer.LookingStreetname" name="LookingStreetname">
          </mat-form-field>


          <mat-form-field class="example-full-width mb-3">
            <span class="fixed-Label">
              Town/City*
            </span>
            <input matInput  [(ngModel)]="listingBuyer.LookingTown" name="LookingTown"
              class="mat-mail-input" (click)="check()">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
              County*
            </span>
            <input matInput [formControl]="stateFormControl" required
              [(ngModel)]="listingBuyer.Lookingstate" name="Lookingstate" class="mat-mail-input">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
              Country*
            </span>
            <input matInput  [formControl]="stateFormControl" required
              [(ngModel)]="listingBuyer.Country" name="Country" class="mat-mail-input">
          </mat-form-field>
        </div>





        <div class="card-margin background-new-form">
          <div id="finanacial">
            <mat-form-field class="example-full-width">
              <span class="fixed-Label">
                Financial Position*
              </span>
              <mat-select name="FinancialPosition" [(ngModel)]="listingBuyer.FinancialPosition"
                value="FinancialPosition" class="example-full-width">
                <mat-option value="Mortgate to be arranged" name="Mortgate to be arranged"
                  (click)="removefinancialPostion()">Mortgate to be arranged</mat-option>
                <mat-option value="Mortgage arranged " name="Mortgage arranged " (click)="removefinancialPostion()">
                  Mortgage arranged </mat-option>
                <mat-option value="Cash Buyer" name="Cash Buyer" (click)="removefinancialPostion()">Cash Buyer
                </mat-option>
                <mat-option value="Please specify" name="Please specify" (click)="financialPostion()">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </div>



          <mat-form-field class="example-full-width" *ngIf="finanacial">
            <span class="fixed-Label">
              Financial*
            </span>
            <mat-select name="FinancialPosition" [(ngModel)]="listingBuyer.FinancialPosition"
            value="FinancialPosition" class="example-full-width" [formControl]="FinancialPositionFormcontrol" #FinancialPosition>
                    <mat-option value="any" name="Mortgage arranged" (click)="removefinancialPostion()">
                    </mat-option>
                    <mat-option value="Mortgate to be arranged" name="Mortgate to be arranged"
                      (click)="removefinancialPostion()">Mortgate to be arranged</mat-option>
                    <mat-option value="Mortgage arranged " name="Mortgage arranged" (click)="removefinancialPostion()">
                      Mortgage arranged </mat-option>
                    <mat-option value="Cash Buyer" name="Cash Buyer" (click)="removefinancialPostion()">Cash Buyer
                    </mat-option>
                    <mat-option value="Please specify" name="Please specify" (click)="financialPostion()">Other</mat-option>
                  </mat-select>          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="rentOption">
            <span class="fixed-Label">
              Your Renting Position*
            </span>
            <mat-select name="ChainStatus" [(ngModel)]="listingBuyer.ChainStatus" value="ChainStatus"
              class="example-full-width">
            
              <mat-option value="Ready to move in now" (click)="otherOption()">Ready to move in now</mat-option>
              <mat-option value="Looking to move in short-term" (click)="otherOption()">Looking to move in short-term</mat-option>
            </mat-select>
          </mat-form-field>
         
            <mat-form-field class="example-full-width" *ngIf="buyOption">
              <span class="fixed-Label">
                Your Buying Position*
              </span>
              <mat-select name="ChainStatus" [(ngModel)]="listingBuyer.ChainStatus" value="ChainStatus"
                class="example-full-width">
                <mat-option value="First Time Buyer" (click)="otherOption()">First Time Buyer</mat-option>
                <mat-option value="In Chain" (click)="otherOption()">In Chain</mat-option>
                <mat-option value="Cash Buyer" (click)="otherOption()">Cash Buyer</mat-option>
                <mat-option value="Other (Please specify)" (click)="otherChain()">Other (Please specify)</mat-option>
              </mat-select>
            </mat-form-field>

          <div id="Property-type">
            <mat-form-field class="example-full-width">
              <span class="fixed-Label">
                Property Type*
              </span>
              <mat-select name="Propertytype" [(ngModel)]="listingBuyer.PropertyType" value="Propertytype"
                class="example-full-width">
                <mat-option value="Flat">Flat</mat-option>
                <mat-option value="Studio">Studio</mat-option>
                <mat-option value="Terracedhouse">Terraced house</mat-option>
                <mat-option class="example-margin" value="Maisonette">Maisonette</mat-option>
                <mat-option value="Semi-detached">Semi-detached house</mat-option>
                <mat-option value="Bungalow">Bungalow</mat-option>
                <mat-option value="Detachedhouse">Detached house</mat-option>
                <mat-option value="Cottage">Cottage</mat-option>
                <mat-option value="Townhouse">Town house</mat-option>
                <mat-option value="Countryhouse">Country house</mat-option>
                <mat-option value="Barnconversion">Barn conversion</mat-option>
                <mat-option value="Farm">Farm</mat-option>
                <mat-option value="Houseboat">Houseboat</mat-option>
                <mat-option value="Lodge">Lodge</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <!--Min Max Amount-->
          <label class="new-heading-nestimate">Number of Rooms</label>
          <div class="price-selection">
            <mat-form-field class="filed-width">
              <span class="fixed-Label">
                Min*
              </span>
              <mat-select [(value)]="Roommin" name="Roommin" [(ngModel)]="listingBuyer.Roommin">
                <mat-option value="any">Any</mat-option>

                <mat-option value="Studio">Studio</mat-option>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="filed-width">
              <span class="fixed-Label">
                Max*
              </span>
              <mat-select [(value)]="Roomsmax" name="Roomsmax" [(ngModel)]="listingBuyer.Roomsmax">
                <mat-option value="any">Any</mat-option>

                <mat-option value="Studio">Studio</mat-option>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--Max-No of Rooms-->
<div class="amounts" *ngIf="amounts">
          <!--New Values-->
          <!--Min Max Amount-->
          <label class="new-heading-nestimate">Price Range</label>
          <div class="price-selection" *ngIf="rentOption">
            <mat-form-field class="filed-width">
              <span class="fixed-Label">
                Min*
              </span>

              <mat-select [(value)]="min" name="MinAmount" [(ngModel)]="listingBuyer.MinAmount">
                <mat-option value="100">100 pcm</mat-option>
                <mat-option value="200">200 pcm</mat-option>
                <mat-option value="300">300 pcm</mat-option>
                <mat-option value="400">400 pcm</mat-option>
                <mat-option value="500">500 pcm</mat-option>
                <mat-option value="600">600 pcm</mat-option>
                <mat-option value="700">700 pcm</mat-option>
                <mat-option value="800">800 pcm</mat-option>
                <mat-option value="900">900 pcm</mat-option>
                <mat-option value="100">1000 pcm</mat-option>
                <mat-option value="1250">1250 pcm</mat-option>
                <mat-option value="1500">1500 pcm</mat-option>
                <mat-option value="1750">1750 pcm</mat-option>
                <mat-option value="2000">2000 pcm</mat-option>
                <mat-option value="2250">2250 pcm</mat-option>
                <mat-option value="2500">2500 pcm</mat-option>
                <mat-option value="2750">2750 pcm</mat-option>
                <mat-option value="3000">3000 pcm</mat-option>
                <mat-option value="3250">3250 pcm</mat-option>
                <mat-option value="3500">3500 pcm</mat-option>
                <mat-option value="3750">3750 pcm</mat-option>
                <mat-option value="4000">4000 pcm</mat-option>
                <mat-option value="4250">4250 pcm</mat-option>
                <mat-option value="4500">4500 pcm</mat-option>
                <mat-option value="5000">5000 pcm</mat-option>
                <mat-option value="5500">5500 pcm</mat-option>
                <mat-option value="6000">6000 pcm</mat-option>
                <mat-option value="6500">6500 pcm</mat-option>
                <mat-option value="7000">7000 pcm</mat-option>
                <mat-option value="7500">7500 pcm</mat-option>
                <mat-option value="8000">8500 pcm</mat-option>
                <mat-option value="9000">9000 pcm</mat-option>
                <mat-option value="9500">9500 pcm</mat-option>
                <mat-option value="10000">10000 pcm</mat-option>
                <mat-option value="12500">125000 pcm</mat-option>
                <mat-option value="15000">15000 pcm</mat-option>
                <mat-option value="17500">17500 pcm</mat-option>
                <mat-option value="20000">20000 pcm</mat-option>
                <mat-option value="25000">25000 pcm</mat-option>



              </mat-select>
            </mat-form-field>
            <mat-form-field class="filed-width">
              <span class="fixed-Label">
                MAx*
              </span>
              <mat-select [(value)]="max" name="MaxAmount" [(ngModel)]="listingBuyer.MaxAmount">
                <mat-option value="100">100 pcm</mat-option>
                <mat-option value="200">200 pcm</mat-option>
                <mat-option value="300">300 pcm</mat-option>
                <mat-option value="400">400 pcm</mat-option>
                <mat-option value="500">500 pcm</mat-option>
                <mat-option value="600">600 pcm</mat-option>
                <mat-option value="700">700 pcm</mat-option>
                <mat-option value="800">800 pcm</mat-option>
                <mat-option value="900">900 pcm</mat-option>
                <mat-option value="100">1000 pcm</mat-option>
                <mat-option value="1250">1250 pcm</mat-option>
                <mat-option value="1500">1500 pcm</mat-option>
                <mat-option value="1750">1750 pcm</mat-option>
                <mat-option value="2000">2000 pcm</mat-option>
                <mat-option value="2250">2250 pcm</mat-option>
                <mat-option value="2500">2500 pcm</mat-option>
                <mat-option value="2750">2750 pcm</mat-option>
                <mat-option value="3000">3000 pcm</mat-option>
                <mat-option value="3250">3250 pcm</mat-option>
                <mat-option value="3500">3500 pcm</mat-option>
                <mat-option value="3750">3750 pcm</mat-option>
                <mat-option value="4000">4000 pcm</mat-option>
                <mat-option value="4250">4250 pcm</mat-option>
                <mat-option value="4500">4500 pcm</mat-option>
                <mat-option value="5000">5000 pcm</mat-option>
                <mat-option value="5500">5500 pcm</mat-option>
                <mat-option value="6000">6000 pcm</mat-option>
                <mat-option value="6500">6500 pcm</mat-option>
                <mat-option value="7000">7000 pcm</mat-option>
                <mat-option value="7500">7500 pcm</mat-option>
                <mat-option value="8000">8500 pcm</mat-option>
                <mat-option value="9000">9000 pcm</mat-option>
                <mat-option value="9500">9500 pcm</mat-option>
                <mat-option value="10000">10000 pcm</mat-option>
                <mat-option value="12500">125000 pcm</mat-option>
                <mat-option value="15000">15000 pcm</mat-option>
                <mat-option value="17500">17500 pcm</mat-option>
                <mat-option value="20000">20000 pcm</mat-option>
                <mat-option value="25000">25000 pcm</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--New Values Ended-->

<!--Old Value-->
          <!--Min Max Amount-->
          <div class="price-selection" *ngIf="buyOption">
            <mat-form-field class="filed-width">
              <span class="fixed-Label">
                Min*
              </span>
              <mat-select [(value)]="min" name="MinAmount" [(ngModel)]="listingBuyer.MinAmount">
                <mat-option value="50,000">50,000</mat-option>
                <mat-option value="60,000">60,000</mat-option>
                <mat-option value="70,000">70,000</mat-option>
                <mat-option value="80,000">80,000</mat-option>
                <mat-option value="90,000">90,000</mat-option>
                <mat-option value="100,000">100,000</mat-option>
                <mat-option value="110,000">110,000</mat-option>
                <mat-option value="120,000">120,000</mat-option>
                <mat-option value="125,000">125,000</mat-option>
                <mat-option value="130,000">130,000</mat-option>
                <mat-option value="140,000">140,000</mat-option>
                <mat-option value="150,000">150,000</mat-option>
                <mat-option value="160,000">160,000</mat-option>
                <mat-option value="170,000">170,000</mat-option>
                <mat-option value="175,000">175,000</mat-option>
                <mat-option value="180,000">180,000</mat-option>
                <mat-option value="190,000">190,000</mat-option>
                <mat-option value="200,000">200,000</mat-option>
                <mat-option value="210,000">210,000</mat-option>
                <mat-option value="220,000">220,000</mat-option>
                <mat-option value="230,000">230,000</mat-option>
                <mat-option value="240,000">240,000</mat-option>
                <mat-option value="250,000">250,000</mat-option>
                <mat-option value="260,000">260,000</mat-option>
                <mat-option value="270,000">270,000</mat-option>
                <mat-option value="280,000">280,000</mat-option>
                <mat-option value="290,000">290,000</mat-option>
                <mat-option value="300,000">300,000</mat-option>
                <mat-option value="325,000">325,000</mat-option>
                <mat-option value="350,000">350,000</mat-option>
                <mat-option value="375000">375,000</mat-option>
                <mat-option value="400,000">400,000</mat-option>
                <mat-option value="425,000">425,000</mat-option>
                <mat-option value="450,000">450,000</mat-option>
                <mat-option value="475,000">475,000</mat-option>
                <mat-option value="500,000">500,000</mat-option>
                <mat-option value="525,000">525,000</mat-option>
                <mat-option value="550,000">550,000</mat-option>
                <mat-option value="575,000">575,000</mat-option>
                <mat-option value="600,000">600,000</mat-option>
                <mat-option value="625,000">625,000</mat-option>
                <mat-option value="650,000">650,000</mat-option>
                <mat-option value="675,000">675,000</mat-option>
                <mat-option value="700,000">700,000</mat-option>
                <mat-option value="725,000">725,000</mat-option>
                <mat-option value="750,000">750,000</mat-option>
                <mat-option value="775,000">775,000</mat-option>
                <mat-option value="800,000">800,000</mat-option>
                <mat-option value="825,000">825,000</mat-option>
                <mat-option value="850,000">850,000</mat-option>
                <mat-option value="875,000">875,000</mat-option>
                <mat-option value="900,000">900,000</mat-option>
                <mat-option value="925,000">925,000</mat-option>
                <mat-option value="950,000">950,000</mat-option>
                <mat-option value="975,000">975,000</mat-option>
                <mat-option value="1,000,000">1000,000</mat-option>
                <mat-option value="1,250,000">1250,000</mat-option>
                <mat-option value="1,500,000">1500,000</mat-option>
                <mat-option value="1,750,000">1750,000</mat-option>
                <mat-option value="2,000,000">2000,000</mat-option>
                <mat-option value="2,250,000">2250,000</mat-option>
                <mat-option value="2,500,000">2500,000</mat-option>
                <mat-option value="30,00,000">3000,000</mat-option>
                <mat-option value="40,00,000">4000,000</mat-option>
                <mat-option value="50,00,000">5000,000</mat-option>
                <mat-option value="60,00,000">6000,000</mat-option>
                <mat-option value="70,00,000">7000,000</mat-option>
                <mat-option value="80,00,000">8000,000</mat-option>
                <mat-option value="10,000,000">10000,000</mat-option>
                <mat-option value="15,000,000">15000,000</mat-option>
                <mat-option value="20,000,000">20000,000</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="filed-width">
              <span class="fixed-Label">
                Max*
              </span>
              <mat-select [(value)]="max" name="MaxAmount" [(ngModel)]="listingBuyer.MaxAmount">
                <mat-option value="50,000">50,000</mat-option>
                <mat-option value="60,000">60,000</mat-option>
                <mat-option value="70,000">70,000</mat-option>
                <mat-option value="80,000">80,000</mat-option>
                <mat-option value="90,000">90,000</mat-option>
                <mat-option value="100,000">100,000</mat-option>
                <mat-option value="110,000">110,000</mat-option>
                <mat-option value="120,000">120,000</mat-option>
                <mat-option value="125,000">125,000</mat-option>
                <mat-option value="130,000">130,000</mat-option>
                <mat-option value="140,000">140,000</mat-option>
                <mat-option value="150,000">150,000</mat-option>
                <mat-option value="160,000">160,000</mat-option>
                <mat-option value="170,000">170,000</mat-option>
                <mat-option value="175,000">175,000</mat-option>
                <mat-option value="180,000">180,000</mat-option>
                <mat-option value="190,000">190,000</mat-option>
                <mat-option value="200,000">200,000</mat-option>
                <mat-option value="210,000">210,000</mat-option>
                <mat-option value="220,000">220,000</mat-option>
                <mat-option value="230,000">230,000</mat-option>
                <mat-option value="240,000">240,000</mat-option>
                <mat-option value="250,000">250,000</mat-option>
                <mat-option value="260,000">260,000</mat-option>
                <mat-option value="270,000">270,000</mat-option>
                <mat-option value="280,000">280,000</mat-option>
                <mat-option value="290,000">290,000</mat-option>
                <mat-option value="300,000">300,000</mat-option>
                <mat-option value="325,000">325,000</mat-option>
                <mat-option value="350,000">350,000</mat-option>
                <mat-option value="375000">375,000</mat-option>
                <mat-option value="400,000">400,000</mat-option>
                <mat-option value="425,000">425,000</mat-option>
                <mat-option value="450,000">450,000</mat-option>
                <mat-option value="475,000">475,000</mat-option>
                <mat-option value="500,000">500,000</mat-option>
                <mat-option value="525,000">525,000</mat-option>
                <mat-option value="550,000">550,000</mat-option>
                <mat-option value="575,000">575,000</mat-option>
                <mat-option value="600,000">600,000</mat-option>
                <mat-option value="625,000">625,000</mat-option>
                <mat-option value="650,000">650,000</mat-option>
                <mat-option value="675,000">675,000</mat-option>
                <mat-option value="700,000">700,000</mat-option>
                <mat-option value="725,000">725,000</mat-option>
                <mat-option value="750,000">750,000</mat-option>
                <mat-option value="775,000">775,000</mat-option>
                <mat-option value="800,000">800,000</mat-option>
                <mat-option value="825,000">825,000</mat-option>
                <mat-option value="850,000">850,000</mat-option>
                <mat-option value="875,000">875,000</mat-option>
                <mat-option value="900,000">900,000</mat-option>
                <mat-option value="925,000">925,000</mat-option>
                <mat-option value="950,000">950,000</mat-option>
                <mat-option value="975,000">975,000</mat-option>
                <mat-option value="1,000,000">1000,000</mat-option>
                <mat-option value="1,250,000">1250,000</mat-option>
                <mat-option value="1,500,000">1500,000</mat-option>
                <mat-option value="1,750,000">1750,000</mat-option>
                <mat-option value="2,000,000">2000,000</mat-option>
                <mat-option value="2,250,000">2250,000</mat-option>
                <mat-option value="2,500,000">2500,000</mat-option>
                <mat-option value="30,00,000">3000,000</mat-option>
                <mat-option value="40,00,000">4000,000</mat-option>
                <mat-option value="50,00,000">5000,000</mat-option>
                <mat-option value="60,00,000">6000,000</mat-option>
                <mat-option value="70,00,000">7000,000</mat-option>
                <mat-option value="80,00,000">8000,000</mat-option>
                <mat-option value="10,000,000">10000,000</mat-option>
                <mat-option value="15,000,000">15000,000</mat-option>
                <mat-option value="20,000,000">20000,000</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
<!--Old Value End-->
</div>












          <!--Offer validity Group-->

          <mat-radio-group aria-label="Select an option" id="name " name="Validity" [(ngModel)]="listingBuyer.Validity"
            value="Validity">
            <label class="new-heading-nestimate">How long should your Nestimate be active?</label><br>
            <div class="radio-button-align">
              
              <mat-radio-button value="1" class="mr-2">1 Month</mat-radio-button>
              <mat-radio-button value="3">3 Months</mat-radio-button>
              <mat-radio-button value="6">6 Months</mat-radio-button>
              <mat-radio-button value="Indefinite">Indefinite
              </mat-radio-button>
            </div>
          </mat-radio-group>
          <p class="Label-notes new-heading-nestimate">*Note:Your Nestimate will remain active for the selected time
            period above</p>
          <!--Offer validity Group End-->







          </div>

        <mat-card class="card-margin background-new-form">
          <label class="new-heading-nestimate">Optional Details</label><br>
          <!--No of Bathrooms-->
        
          <label class="new-heading-nestimate">No of Bathrooms</label>
          <div class="price-selection">
            <mat-form-field class="filed-width">
              <span class="fixed-Label">
                Min
              </span>
              <mat-select [(value)]="Minbathroom" name="Minbathroom" [(ngModel)]="listingBuyer.Minbathroom">
                <mat-option value="any">Any</mat-option>

                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3 or more">3 or more</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="filed-width">
              <span class="fixed-Label">
                Max
              </span>
              <mat-select [(value)]="Maxbathroom" name="Maxbathroom" [(ngModel)]="listingBuyer.Maxbathroom">
                <mat-option value="any">Any</mat-option>

                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3 or more">3 or more</mat-option>
              </mat-select>
            </mat-form-field>
          </div>




          <!--No of reception-->
          <label class="new-heading-nestimate">No of Reception Rooms</label>
          <div class="price-selection">
            <mat-form-field class="filed-width">
              <span class="fixed-Label">
                Min
              </span>
              <mat-select [(value)]="Minreception" name="Minreception" [(ngModel)]="listingBuyer.Minreception">
                <mat-option value="any">Any</mat-option>

                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3 or more">3 or more</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="filed-width">
              <span class="fixed-Label">
                Max
              </span>
              <mat-select [(value)]="Maxreception" name="Maxreception" [(ngModel)]="listingBuyer.Maxreception">
                <mat-option value="any">Any</mat-option>

                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3 or more">3 or more</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
              Property Condition
            </span>
            <mat-select [(value)]="Conditions" name="Conditions" [(ngModel)]="listingBuyer.Conditions">
              <mat-option value="any">Any</mat-option>

              <mat-option value="New Build">New Build</mat-option>
              <mat-option value="Needs Modernisation">Needs Modernisation</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
             Ownership
            </span>
            <mat-select name="Ownership" [(ngModel)]="listingBuyer.Ownership" value="Ownership"
              class="example-full-width">
              <mat-option value="any">Any</mat-option>

              <mat-option value="Leasehold">Leasehold</mat-option>
              <mat-option value="Freehold">Freehold</mat-option>
              <mat-option value="Share of Freehold">Share of Freehold</mat-option>
            </mat-select>
          </mat-form-field>
     
          <mat-form-field class="example-full-width">
            <span class="fixed-Label">
              Property Features
            </span>
            <mat-select [formControl]="Condition" multiple [(ngModel)]="listingBuyer.features" #sl
              class="mat-select-edit mat-check">

              <div class="select-constion">
                <img src="../../../../assets/Images/cross.png" class="button-cross" (click)="sl.close()">
              </div>
              <mat-option *ngFor="let Conditions of ConditionsList" [value]="Conditions" class="mat-check">
                {{Conditions}}</mat-option>

            </mat-select>
          </mat-form-field>


        </mat-card>


        <div class="button-next-tab2">
          <a (click)="previousStep()" class="btn  btnPrevious btn-next">Previous</a>
          <a  class="btn btn-primary btnNext btn-next" (click)="selectTab(2, 1)">Submit</a>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</form>