<div class="matches-main-container">
  <mat-card class="thanku-section">
    <img mat-card-image src="http://134.209.93.8{{imageUrl}}" class="match-image">
  </mat-card>
  <div class="heading-nestimate font-main-nestimate ">Your search has the
  following results</div>

  <div class="nestiamte-dropdown-asearch-result">
    <mat-form-field class="example-full-width home-matches">
      <span class="fixed-Label">
        Sort By
       </span>
      <mat-select name="ChainStatus" value="ChainStatus" class="example-full-width home-matches">
        <mat-option value='low' (click)="unmatchedlowtohigh()">Price Range - Low to High</mat-option>
        <mat-option value='high' (click)="unmatchedhightoLow()">Price Range - High to Low</mat-option>
        <mat-option value='date' (click)="unmatchedDistance()">Distance</mat-option>
        <mat-option value='rooms' (click)="unmatchedroomshightolow()">No of Rooms</mat-option>
      </mat-select>
    </mat-form-field> 
  </div>

  <div class="main-desktop-grid">
  
    <!--Result Set One Price Match-->

      <div class="mat-card-content-new" *ngFor="let property of sellermatchedProperties">
        <div class="not-expressed" *ngIf="!property.Prop">
          <div class="nestimate_by">
            <div class="card-heading-font outputText">&nbsp;Nestimate by {{property.detail.usertitle}}
              {{property.detail.username | shortName}}</div>
              <div class="matches-mame">- Same postcode only
                - Matches price criteria (min reduce 3% max +10%)
                - Same property type</div>
           </div>
            <div class="netimate-content">
              <div class="nestimate-image">
                <img src="../../../../../../assets/Images/sidelogo.png" class="match-images">
              </div>
              <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'buy'">
                <div class="nestimate-price-range">
                  <span class="heading-nestimate">Price Range</span> <br>
                  <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                    &pound;{{property.detail.MaxAmount}}</span>
                </div>
                <div class="nestimate-content">
                  <div class="heading-nestimate nestimate-content-p1">Buyer Position:<span
                      class="outputText">{{property.detail.ChainStatus}}</span></div>
                  <div class="heading-nestimate nestimate-content-p1">Financial Status:<span
                    class="outputText pl-1 ">{{property.detail.FinancialPosition}}</span></div>
                </div> 
              </span>
              <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'rent'">
                <div class="nestimate-price-range">
                  <span class="heading-nestimate">Rent Range</span> <br>
                  <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                    &pound;{{property.detail.MaxAmount}}</span>
                </div>
                <div class="nestimate-content">
                  <div class="heading-nestimate nestimate-content-p1">Tenant Position:<span
                      class="outputText pl-1">{{property.detail.ChainStatus}}</span></div>
               
                    </div>
              </span>
              <div class="button-container">
                <div class="dark-blue-button" routerLink='/SellerSelectedProperty/{{Look_state}}/{{Look_rooms}}/{{Look_Propertycondition}}/{{Look_Address}}/{{Look_ownership}}/{{Look_features}}/{{Look_userId}}/{{Look_postcode}}/{{Look_PropertyType}}/{{Look_maxAmount}}/{{Look_Town}}/{{Look_Address}}/{{Look_Maxbathrooms}}/{{Look_Maxreceptions}}/{{Look_ownership}}/{{Look_Maxrooms}}/
                {{property.detail.MaxAmount}}/
                {{property.detail.MinAmount}}
                /{{property.detail.Lookingpostcode}}
                /{{property.detail.LookingStreetname}}
                /{{property.detail.Position}}
                /{{property.detail.PropertyType}}
                /{{property.detail.Roomsmax}}
                /{{property.detail.Ownership}}
                /{{property.detail.Conditions}}
                  /{{property.detail.Maxbathroom}}
                   /{{property.detail.Maxreception}}
                /{{property.detail.UserId}}
                /{{property.detail.FinancialPosition}}/{{property.propertyId}}/{{expressed}}/{{Look_PropertyFor}}/{{property.detail.PropertyFor}}/{{property.detail.ChainStatus}}/{{Look_id}}'>See Details<span class="entity-see-deatil outputText">	&gt;</span></div>
              </div>
            </div>


        
           
  
      
          </div>


        <div class="expressed" *ngIf="property.Prop">
          <div class="nestimate_by">

            <div class="card-heading-font outputText">&nbsp;Nestimate by {{property.detail.usertitle}}
              {{property.detail.username | shortName}}</div>
              <div class="card-heading-font outputText">&nbsp;{{alreadyExpressed}}</div>
              
           </div>
           <div class="matches-mame">- Same postcode only
            - Matches price criteria (min reduce 3% max +10%)
            - Same property type</div>
            <div class="netimate-content-expressed">

              <div class="nestimate-image">
                <img src="../../../../../../assets/Images/sidelogo.png" class="match-images">
              </div>
                <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'buy'">
            <div class="nestimate-price-range">
              <span class="heading-nestimate">Price Range </span> <br>
              <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                &pound;{{property.detail.MaxAmount}}</span>
             
             
            </div>
            <div class="nestimate-content">
              <div class="heading-nestimate nestimate-content-p1">Buyer Position:<span
                  class="outputText pl-1 ">{{property.detail.ChainStatus}}</span></div>
              <div class="heading-nestimate nestimate-content-p1">Financial Status:<span
                class="outputText pl-1">{{property.detail.FinancialPosition}}</span></div>
            </div>
          </span>
          <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'rent'">
            <div class="nestimate-price-range">
              <span class="heading-nestimate">Rent Range</span> <br>
              <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                &pound;{{property.detail.MaxAmount}}</span>
            </div>
            <div class="nestimate-content">
              <div class="heading-nestimate nestimate-content-p1">Tenant Position:<span
                  class="outputText pl-1 ">{{property.detail.ChainStatus}}</span></div>
            </div>
  
          </span>
              <div class="button-container">

                <div class="dark-blue-button" routerLink='/SellerSelectedProperty/{{Look_state}}/{{Look_rooms}}/{{Look_Propertycondition}}/{{Look_Address}}/{{Look_ownership}}/{{Look_features}}/{{Look_userId}}/{{Look_postcode}}/{{Look_PropertyType}}/{{Look_maxAmount}}/{{Look_Town}}/{{Look_Address}}/{{Look_Maxbathrooms}}/{{Look_Maxreceptions}}/{{Look_ownership}}/{{Look_Maxrooms}}/
                {{property.detail.MaxAmount}}/
                {{property.detail.MinAmount}}
                /{{property.detail.Lookingpostcode}}
                /{{property.detail.LookingStreetname}}
                /{{property.detail.Position}}
                /{{property.detail.PropertyType}}
                /{{property.detail.Roomsmax}}
                /{{property.detail.Ownership}}
                /{{property.detail.Conditions}}
                  /{{property.detail.Maxbathroom}}
                   /{{property.detail.Maxreception}}
                /{{property.detail.UserId}}
                /{{property.detail.FinancialPosition}}/{{property.propertyId}}/true/{{Look_PropertyFor}}/{{property.detail.PropertyFor}}/{{property.detail.ChainStatus}}/{{Look_id}}'>See Details<span class="entity-see-deatil outputText">	&gt;</span></div>
              </div>
            </div>
          </div>
        </div>

    <!--Result Set One Price Match-->










    





      <!--Result Set No Matches 1 done-->
      <!--Not Expressed-->
      <div class="mat-card-content-new" *ngFor="let property of sellerunmatchedProperties">
        <div class="not-expressed" *ngIf="!property.Prop">
          <div class="nestimate_by">

            <div class="card-heading-font outputText">&nbsp;Other Results</div>
            <div class="matches-mame"> POSTCODE MATCH - FIRST 5 LETTERS ONLY
              - Matches price criteria (min reduce 3% max +10%)
              - Same property type </div>
           </div>
           <div class="netimate-content-no-matches">
            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'buy'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Price Range </span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Buyer Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
                <div class="heading-nestimate nestimate-content-p1">Financial Status:<span
                  class="outputText">{{property.detail.FinancialPosition}}</span></div>
              </div>
            </span>
            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'rent'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Rent Range</span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Tenant Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
              </div>
            </span>
            <div class="button-container">
              <div class="dark-blue-button" routerLink='/SellerSelectedProperty/{{Look_state}}/{{Look_rooms}}/{{Look_Propertycondition}}/{{Look_Address}}/{{Look_ownership}}/{{Look_features}}/{{Look_userId}}/{{Look_postcode}}/{{Look_PropertyType}}/{{Look_maxAmount}}/{{Look_Town}}/{{Look_Address}}/{{Look_Maxbathrooms}}/{{Look_Maxreceptions}}/{{Look_ownership}}/{{Look_Maxrooms}}/
              {{property.detail.MaxAmount}}/
              {{property.detail.MinAmount}}
              /{{property.detail.Lookingpostcode}}
              /{{property.detail.LookingStreetname}}
              /{{property.detail.Position}}
              /{{property.detail.PropertyType}}
              /{{property.detail.Roomsmax}}
              /{{property.detail.Ownership}}
              /{{property.detail.Conditions}}
                /{{property.detail.Maxbathroom}}
                 /{{property.detail.Maxreception}}
              /{{property.detail.UserId}}
              /{{property.detail.FinancialPosition}}/{{property.propertyId}}/{{expressed}}/{{Look_PropertyFor}}/{{property.detail.PropertyFor}}/{{property.detail.ChainStatus}}/{{Look_id}}'>See Details<span class="entity-see-deatil outputText">	&gt;</span></div>
            </div>
          </div>
        </div>
 
      <!--Expressed-->
        <div class="expressed" *ngIf="property.Prop">

          <div class="nestimate_by">
            <div class="card-heading-font outputText">&nbsp;Other Results</div>
            <div class="card-heading-font outputText">&nbsp;{{alreadyExpressed}}</div>
            <div class="matches-mame"> POSTCODE MATCH - FIRST 5 LETTERS ONLY
              - Matches price criteria (min reduce 3% max +10%)
              - Same property type</div>

          </div>
          <div class="netimate-content-expressed">

            <!-- <div class="nestimate-image">
              <img src="../../../../../../assets/Images/sidelogo.png" class="match-images">
            </div> -->

            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'buy'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Price Range </span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Buyer Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
                <div class="heading-nestimate nestimate-content-p1">Financial Status:<span
                  class="outputText">{{property.detail.FinancialPosition}}</span></div>
              </div>
            </span>
            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'rent'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Rent Range</span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Tenant Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
              </div>
            </span>
            <div class="button-container">
              <div class="dark-blue-button" routerLink='/SellerSelectedProperty/{{Look_state}}/{{Look_rooms}}/{{Look_Propertycondition}}/{{Look_Address}}/{{Look_ownership}}/{{Look_features}}/{{Look_userId}}/{{Look_postcode}}/{{Look_PropertyType}}/{{Look_maxAmount}}/{{Look_Town}}/{{Look_Address}}/{{Look_Maxbathrooms}}/{{Look_Maxreceptions}}/{{Look_ownership}}/{{Look_Maxrooms}}/
              {{property.detail.MaxAmount}}/
              {{property.detail.MinAmount}}
              /{{property.detail.Lookingpostcode}}
              /{{property.detail.LookingStreetname}}
              /{{property.detail.Position}}
              /{{property.detail.PropertyType}}
              /{{property.detail.Roomsmax}}
              /{{property.detail.Ownership}}
              /{{property.detail.Conditions}}
                /{{property.detail.Maxbathroom}}
                 /{{property.detail.Maxreception}}
              /{{property.detail.UserId}}
              /{{property.detail.FinancialPosition}}/{{property.propertyId}}/true/{{Look_PropertyFor}}/{{property.detail.PropertyFor}}/{{property.detail.ChainStatus}}/{{Look_id}}'>See Details<span class="entity-see-deatil outputText">	&gt;</span></div>
            </div>
          </div>
        </div>
      </div>
      <!--Result Set No Matches 1 done-->


      <!--Result Set No Matches 1 done-->
      <!--Not Expressed-->
      <div class="mat-card-content-new" *ngFor="let property of sellerunmatchedPropertiesFirst">
        <div class="not-expressed" *ngIf="!property.Prop">
          <div class="nestimate_by">

            <div class="card-heading-font outputText">&nbsp;Other Results</div>

            <div class="matches-mame"> POSTCODE MATCH - FIRST 3 LETTERS ONLY
              - Matches price criteria (min reduce 3% max +10%)
              - Same property type</div>
           </div>
           <div class="netimate-content-no-matches">

            <!-- <div class="nestimate-image">
              <img src="../../../../../../assets/Images/sidelogo.png" class="match-images">
            </div> -->

            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'buy'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Price Range </span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Buyer Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
                <div class="heading-nestimate nestimate-content-p1">Financial Status:<span
                  class="outputText">{{property.detail.FinancialPosition}}</span></div>
              </div>
            </span>
            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'rent'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Rent Range</span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Tenant Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
              </div>
            </span>
            <div class="button-container">
              <div class="dark-blue-button" routerLink='/SellerSelectedProperty/{{Look_state}}/{{Look_rooms}}/{{Look_Propertycondition}}/{{Look_Address}}/{{Look_ownership}}/{{Look_features}}/{{Look_userId}}/{{Look_postcode}}/{{Look_PropertyType}}/{{Look_maxAmount}}/{{Look_Town}}/{{Look_Address}}/{{Look_Maxbathrooms}}/{{Look_Maxreceptions}}/{{Look_ownership}}/{{Look_Maxrooms}}/
              {{property.detail.MaxAmount}}/
              {{property.detail.MinAmount}}
              /{{property.detail.Lookingpostcode}}
              /{{property.detail.LookingStreetname}}
              /{{property.detail.Position}}
              /{{property.detail.PropertyType}}
              /{{property.detail.Roomsmax}}
              /{{property.detail.Ownership}}
              /{{property.detail.Conditions}}
                /{{property.detail.Maxbathroom}}
                 /{{property.detail.Maxreception}}
              /{{property.detail.UserId}}
              /{{property.detail.FinancialPosition}}/{{property.propertyId}}/{{expressed}}/{{Look_PropertyFor}}/{{property.detail.PropertyFor}}/{{property.detail.ChainStatus}}/{{Look_id}}'>See Details<span class="entity-see-deatil outputText">	&gt;</span></div>
            </div>
          </div>
        </div>

      <!--Expressed-->
        <div class="expressed" *ngIf="property.Prop">

          <div class="nestimate_by">
            <div class="card-heading-font outputText">&nbsp;Other Results</div>
            <div class="card-heading-font outputText">&nbsp;{{alreadyExpressed}}</div>
            <div class="matches-mame"> POSTCODE MATCH - FIRST 3 LETTERS ONLY
              - Matches price criteria (min reduce 3% max +10%)
              - Same property type</div>

          </div>
          <div class="netimate-content-expressed">

            <!-- <div class="nestimate-image">
              <img src="../../../../../../assets/Images/sidelogo.png" class="match-images">
            </div> -->

            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'buy'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Price Range </span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Buyer Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
                <div class="heading-nestimate nestimate-content-p1">Financial Status:<span
                  class="outputText">{{property.detail.FinancialPosition}}</span></div>
              </div>
            </span>
            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'rent'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Rent Range</span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Tenant Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
              </div>
            </span>
            <div class="button-container">
              <div class="dark-blue-button" routerLink='/SellerSelectedProperty/{{Look_state}}/{{Look_rooms}}/{{Look_Propertycondition}}/{{Look_Address}}/{{Look_ownership}}/{{Look_features}}/{{Look_userId}}/{{Look_postcode}}/{{Look_PropertyType}}/{{Look_maxAmount}}/{{Look_Town}}/{{Look_Address}}/{{Look_Maxbathrooms}}/{{Look_Maxreceptions}}/{{Look_ownership}}/{{Look_Maxrooms}}/
              {{property.detail.MaxAmount}}/
              {{property.detail.MinAmount}}
              /{{property.detail.Lookingpostcode}}
              /{{property.detail.LookingStreetname}}
              /{{property.detail.Position}}
              /{{property.detail.PropertyType}}
              /{{property.detail.Roomsmax}}
              /{{property.detail.Ownership}}
              /{{property.detail.Conditions}}
                /{{property.detail.Maxbathroom}}
                 /{{property.detail.Maxreception}}
              /{{property.detail.UserId}}
              /{{property.detail.FinancialPosition}}/{{property.propertyId}}/true/{{Look_PropertyFor}}/{{property.detail.PropertyFor}}/{{property.detail.ChainStatus}}/{{Look_id}}'>See Details<span class="entity-see-deatil outputText">	&gt;</span></div>
            </div>
          </div>
        </div>
      </div>
      <!--Result Set No Matches 1 done-->





      

      <!--Result Set No Matches 2-->
      <!--Not Expressed-->
      <div class="mat-card-content-new" *ngFor="let property of sellerunmatchedPriceLogic">
        <div class="not-expressed" *ngIf="!property.Prop">
          <div class="nestimate_by">

            <div class="card-heading-font outputText">&nbsp;Other Results</div>
            <div class="matches-mame">- POSTCODE MATCH - FIRST 3 LETTERS ONLY
              - Matches price criteria (min reduce 3% max +10%)
              - ALL property types</div>


          </div>
          <div class="netimate-content-no-matches">
            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'buy'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Price Range </span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Buyer Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
                <div class="heading-nestimate nestimate-content-p1">Financial Status:<span
                  class="outputText">{{property.detail.FinancialPosition}}</span></div>
              </div>
            </span>
            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'rent'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Rent Range</span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Tenant Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
              </div>
            </span>

         
            <div class="button-container">
              <div class="dark-blue-button" routerLink='/SellerSelectedProperty/{{Look_state}}/{{Look_rooms}}/{{Look_Propertycondition}}/{{Look_Address}}/{{Look_ownership}}/{{Look_features}}/{{Look_userId}}/{{Look_postcode}}/{{Look_PropertyType}}/{{Look_maxAmount}}/{{Look_Town}}/{{Look_Address}}/{{Look_Maxbathrooms}}/{{Look_Maxreceptions}}/{{Look_ownership}}/{{Look_Maxrooms}}/
              {{property.detail.MaxAmount}}/
              {{property.detail.MinAmount}}
              /{{property.detail.Lookingpostcode}}
              /{{property.detail.LookingStreetname}}
              /{{property.detail.Position}}
              /{{property.detail.PropertyType}}
              /{{property.detail.Roomsmax}}
              /{{property.detail.Ownership}}
              /{{property.detail.Conditions}}
                /{{property.detail.Maxbathroom}}
                 /{{property.detail.Maxreception}}
              /{{property.detail.UserId}}
              /{{property.detail.FinancialPosition}}/{{property.propertyId}}/{{expressed}}/{{Look_PropertyFor}}/{{property.detail.PropertyFor}}/{{property.detail.ChainStatus}}/{{Look_id}}'>See Details<span class="entity-see-deatil outputText">	&gt;</span></div>
            </div>
          </div>
        </div>

      <!--Expressed-->

        <div class="expressed"  *ngIf="property.Prop">

          <div class="nestimate_by">
            <div class="card-heading-font outputText">&nbsp;Other Results</div>
            <div class="card-heading-font outputText">&nbsp;{{alreadyExpressed}}</div>
            <div class="matches-mame">- POSTCODE MATCH - FIRST 3 LETTERS ONLY
              - Matches price criteria (min reduce 3% max +10%)
              - ALL property types</div>

          </div>
          <div class="netimate-content-expressed">

           <!-- <div class="nestimate-image">
              <img src="../../../../../../assets/Images/sidelogo.png" class="match-images">
            </div> -->

            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'buy'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Price Range </span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Buyer Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
                <div class="heading-nestimate nestimate-content-p1">Financial Status:<span
                  class="outputText">{{property.detail.FinancialPosition}}</span></div>
              </div>
            </span>
            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'rent'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Rent Range</span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Tenant Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
              </div>
            </span>
            <div class="button-container">
              <div class="dark-blue-button" routerLink='/SellerSelectedProperty/{{Look_state}}/{{Look_rooms}}/{{Look_Propertycondition}}/{{Look_Address}}/{{Look_ownership}}/{{Look_features}}/{{Look_userId}}/{{Look_postcode}}/{{Look_PropertyType}}/{{Look_maxAmount}}/{{Look_Town}}/{{Look_Address}}/{{Look_Maxbathrooms}}/{{Look_Maxreceptions}}/{{Look_ownership}}/{{Look_Maxrooms}}/
              {{property.detail.MaxAmount}}/
              {{property.detail.MinAmount}}
              /{{property.detail.Lookingpostcode}}
              /{{property.detail.LookingStreetname}}
              /{{property.detail.Position}}
              /{{property.detail.PropertyType}}
              /{{property.detail.Roomsmax}}
              /{{property.detail.Ownership}}
              /{{property.detail.Conditions}}
                /{{property.detail.Maxbathroom}}
                 /{{property.detail.Maxreception}}
              /{{property.detail.UserId}}
              /{{property.detail.FinancialPosition}}/{{property.propertyId}}/true/{{Look_PropertyFor}}/{{property.detail.PropertyFor}}/{{property.detail.ChainStatus}}/{{Look_id}}'>See Details<span class="entity-see-deatil outputText">	&gt;</span></div>
            </div>
          </div>
        </div>
      </div>
      <!--Result Set No Matches 2-->








      <!--Result Set No Matches 4 Done-->
      <!--Not Expressed-->
      <div class="mat-card-content-new" *ngFor="let property of sellerlookTown">
        <div class="not-expressed"  *ngIf="!property.Prop">

          <div class="nestimate_by">

            <div class="card-heading-font outputText">&nbsp;Other Results</div>
            <div class="matches-mame">All other properties - Nationwide </div>

          </div>
          <div class="netimate-content-no-matches">

            <div class="nestimate-image">
              <img src="../../../../../../assets/Images/sidelogo.png" class="match-images">
            </div>

            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'buy'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Price Range</span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Buyer Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
                <div class="heading-nestimate nestimate-content-p1">Financial Status:<span
                  class="outputText">{{property.detail.FinancialPosition}}</span></div>
              </div>
            </span>
            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'rent'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Rent Range</span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Tenant Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
              </div>
            </span>
         
            <div class="button-container">
              <div class="dark-blue-button" routerLink='/SellerSelectedProperty/{{Look_state}}/{{Look_rooms}}/{{Look_Propertycondition}}/{{Look_Address}}/{{Look_ownership}}/{{Look_features}}/{{Look_userId}}/{{Look_postcode}}/{{Look_PropertyType}}/{{Look_maxAmount}}/{{Look_Town}}/{{Look_Address}}/{{Look_Maxbathrooms}}/{{Look_Maxreceptions}}/{{Look_ownership}}/{{Look_Maxrooms}}/
              {{property.detail.MaxAmount}}/
              {{property.detail.MinAmount}}
              /{{property.detail.Lookingpostcode}}
              /{{property.detail.LookingStreetname}}
              /{{property.detail.Position}}
              /{{property.detail.PropertyType}}
              /{{property.detail.Roomsmax}}
              /{{property.detail.Ownership}}
              /{{property.detail.Conditions}}
                /{{property.detail.Maxbathroom}}
                 /{{property.detail.Maxreception}}
              /{{property.detail.UserId}}
              /{{property.detail.FinancialPosition}}/{{property.propertyId}}/{{expressed}}/{{Look_PropertyFor}}/{{property.detail.PropertyFor}}/{{property.detail.ChainStatus}}/{{Look_id}}'>See Details<span class="entity-see-deatil outputText">	&gt;</span></div>
            </div>
          </div>
        </div>
    
      <!--Expressed-->

        <div class="expressed"  *ngIf="property.Prop">
       
  
          <div class="nestimate_by">

      <div class="card-heading-font outputText">&nbsp;Other Results</div>
      <div class="card-heading-font outputText">&nbsp;{{alreadyExpressed}}</div>
      <div class="matches-mame">All other properties - Nationwide</div>
    </div>
    <div class="netimate-content-expressed">


            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'buy'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Price Range </span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Buyer Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
                <div class="heading-nestimate nestimate-content-p1">Financial Status:<span
                  class="outputText">{{property.detail.FinancialPosition}}</span></div>
              </div>
            </span>
            <span class="seller-buyer-property" *ngIf="property.detail.PropertyFor == 'rent'">
              <div class="nestimate-price-range">
                <span class="heading-nestimate">Rent Range</span> <br>
                <span class="outputText pl-1 price-font">&pound;{{property.detail.MinAmount}} -
                  &pound;{{property.detail.MaxAmount}}</span>
              </div>
              <div class="nestimate-content">
                <div class="heading-nestimate nestimate-content-p1">Tenant Position:<span
                    class="outputText">{{property.detail.ChainStatus}}</span></div>
              </div>
            </span>
            <div class="button-container">
              <div class="dark-blue-button" routerLink='/SellerSelectedProperty/{{Look_state}}/{{Look_rooms}}/{{Look_Propertycondition}}/{{Look_Address}}/{{Look_ownership}}/{{Look_features}}/{{Look_userId}}/{{Look_postcode}}/{{Look_PropertyType}}/{{Look_maxAmount}}/{{Look_Town}}/{{Look_Address}}/{{Look_Maxbathrooms}}/{{Look_Maxreceptions}}/{{Look_ownership}}/{{Look_Maxrooms}}/
              {{property.detail.MaxAmount}}/
              {{property.detail.MinAmount}}
              /{{property.detail.Lookingpostcode}}
              /{{property.detail.LookingStreetname}}
              /{{property.detail.Position}}
              /{{property.detail.PropertyType}}
              /{{property.detail.Roomsmax}}
              /{{property.detail.Ownership}}
              /{{property.detail.Conditions}}
                /{{property.detail.Maxbathroom}}
                 /{{property.detail.Maxreception}}
              /{{property.detail.UserId}}
              /{{property.detail.FinancialPosition}}/{{property.propertyId}}/true/{{Look_PropertyFor}}/{{property.detail.PropertyFor}}/{{property.detail.ChainStatus}}/{{Look_id}}'>See Details<span class="entity-see-deatil outputText">	&gt;</span></div>
            </div>
          </div>
        </div>
   
      </div>
      <!--Result Set No Matches 4 Done-->



  </div>
</div>
