
<div class="background-plus" >
    <mat-card class="cards">
        <button type="button" class="btn btn-primary button-plus" routerLink="/fillFormBuyer/:Currentpostcode/:CurrentTown/:Currentstate/:Currentcountry/:Lookingpostcode/:LookingStreetname/:LookingTown/:Lookingstate/:Country/:FinancialPosition/:PropertyType/:Roommin/:Roomsmax/:MinAmount/:MaxAmount/:Validity/:Minbathroom/:Maxbathroom/:Minreception/:Maxreception/:Conditions/:Ownership/:CurrentAddress">New Buy listing</button>
        
     </mat-card>
     <mat-card  class="cards">
        <button type="button" class="btn btn-primary button-plus-new" routerLink="/fillformseller/:Lookingpostcode/:LookingAddress/:LookingTown/:Lookingstate/:PropertyType/:Maxrooms/:MaxAmount/:ownership/:Maxbathrooms/:Maxreception/:PropertyCondition/:Country">New Seller listing</button>
     </mat-card>
</div>



