<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h4 class="text-center mt-3">Thank You for Registering</h4>
  
        <div class="formGroup p-3" *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
        
          <p class="text-center" (click)="authService.SendVerificationMail()">Resend Verification Email</p>  
         
        </div>
  
      </div>
  
      <!-- <div class="redirectToLogin text-center">
        <span class="text-center">Go back to?<span class="redirect text-center" routerLink="/sign-in"> Sign in</span></span>
      </div> -->
  
    </div>
  </div>
