<div *ngIf="isAgentSelected" class="loading-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="agent-signup-background" >


<img src="{{finalImage}}" class="image-background-agent">

</div>
<div class="extra-buttons">

<div class="dark-button" routerLink="/Agentsignupform">Join Us</div>
<div class="Light-button" routerLink="/Agenthome">Log In</div>

</div>






<mat-card class="dark-background">
 <div class="heading-nestimate">{{bodyText}}
 </div>


</mat-card>
<style>

</style>







































<!-- <div class="container property-detail-container">
    <h3 class="property-detail-h3">Agent Signup</h3>
    <div class="wrapper-detail-container">
      <form #addressForm="ngForm"  (ngSubmit)="logValue()" >
     <mat-card >
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name of Agent" required
                   name="name" class="mat-mail-input" [(ngModel)]="agentSignup.Name">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Contact Person" 
                   name="ContactPerson" class="mat-mail-input" [(ngModel)]="agentSignup.ContactPerson" >
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone Number" 
                   name="Phone Number" class="mat-mail-input" [(ngModel)]="agentSignup.PhoneNumber" >
              </mat-form-field>
         
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" required
                   name="Email" class="mat-mail-input" [(ngModel)]="agentSignup.Email">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Address" required
                   name="Address" class="mat-mail-input" [(ngModel)]="agentSignup.Address">
              </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Commission" required
                 name="Commission" class="mat-mail-input" [(ngModel)]="agentSignup.commission">
            </mat-form-field>
          </mat-card>


        <mat-card class="mt-2">     <mat-card-title class="signup-caution">In which areas do you deal?</mat-card-title> </mat-card>
        <mat-card class="mt-2" >
         <div class="search-postcode-field" *ngFor="let Postcode of Postcodes; let i = index;">
            <mat-form-field class="">
                <input matInput placeholder="Search Postcode" required
                   name="SearchPostcode_{{i}}" class="mat-mail-input" [(ngModel)]="agentSignup.SearchPostcode" >
              </mat-form-field>
              <button mat-raised-button color="primary" class="button-agent-signup" (click)="addPostcodes()">Add Postcode</button>
         </div>
        </mat-card>
    <mat-card class="mt-2">   <mat-card-title class="signup-caution-last">*If your are national agent mail us at contactus@snapstreet.com</mat-card-title> </mat-card>
    
  <mat-card class=" mt-2 button-card">

    <button mat-raised-button color="primary" class="submit-agent-signup" (click)="submitForm()">Submit</button>

  </mat-card>
</form>
  </div>
</div> -->