<div *ngIf="isBuyerSelected" class="loading-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  
  <div class="property-selected-detail-background">
    <div class="container property-detail-container">
      <!-- <h3 class="property-detail-h3 heading-nestimate">{{title}} {{unNamed | shortName}}</h3> -->
      <div class="wrapper-detail-container">
        <div id="demo">
          <img  src="assets/Images/single-nestimate.jpg" class="match-images">
        </div>
    
    
        <div class="streetname">
         <div class="Mat-card-div">
           <div class="details-p-headings heading-nestimate">Pincode</div>
           <div class="details-output-p paragraph-color">{{Lookingpostcode}}</div>
          </div>
          
         <div class="Mat-card-div">
           <div class="details-p-headings heading-nestimate">County</div>
           <div class="details-output-p outputText">{{Lookingstate}}</div>
          </div>
    
         <div class="Mat-card-div">
           <div class="details-p-headings heading-nestimate">Address</div>
           <div class="details-output-p outputText">{{LookingAddress}}</div>
          </div>
    
    
      <div class="Mat-card-div">
       <div class="details-p-headings heading-nestimate">Property Condition</div>
       <div class="details-output-p outputText">{{PropertyCondition}}</div>
          </div>
    
    
         <div class="Mat-card-div">
           <div class="details-p-headings heading-nestimate">Ownership</div>
           <div class="details-output-p outputText">{{ownership}}</div>
          </div>
    
         <div class="Mat-card-div">
           <div class="details-p-headings heading-nestimate">Property type</div>
           <div class="details-output-p paragraph-color">{{PropertyType}}</div>
          </div>
      
    
         <div class="Mat-card-div">
           <div class="details-p-headings heading-nestimate">Ownership</div>
           <div class="details-output-p paragraph-color">{{ownership}}</div>
          </div>
          
         <div class="Mat-card-div">
           <div class="details-p-headings heading-nestimate">Property Type</div>
           <div class="details-output-p outputText">{{PropertyType}}</div>
          </div>
    
         <div class="Mat-card-div">
           <div class="details-p-headings heading-nestimate">Applicable Feature</div>
           <div class="details-output-p outputText">{{features}}</div>
          </div>
    
    
    
        </div>
        <div class="selected-button m-3">
          <button mat-raised-button color="primary" *ngIf="matchStatus=='pending'" disabled>Expressed</button>
          <button mat-raised-button color="primary" *ngIf="matchStatus=='confirm_interest'" (click)="addToExpressCollection()">Confirm  Interest</button>
          <button mat-raised-button color="primary"  (click)="backClicked()">Back</button>
        </div>
      </div>
    </div>
    
    </div>






























 
