<div class="container p-0">

   <div class="second-main-container-footer">
    <div class="address-bar">
        <p class="heading-nestimate">Help and support<br>
            <span class="paragraph-color">4106  Friendship Lane<br> Santa Clara California</span>
             </p>
             <p class="heading-nestimate">Call 202-555-0106</p>

             <p class="heading-nestimate">Email support@nestimate.co.uk</p>


        
    </div>



    <div class="option-bar">
        <p routerLink="/agentSignup"> Agents sign Up</p>
        <p>About Us</p>
        <p>How it works</p>
    </div>

    <div class="option-bar">
        <p>Team</p>
        <p>Careers</p>
        <p>Contact Us</p>
    </div>
   
    <div class="social-media-footer">
        <a href="{{Instagram}}">
            <img src ="../../../assets/Images/Newinstagram.png" class="image-logo">
        </a>
        <a href="{{facebook}}">
           <img src ="../../../assets/Images/nfacebook.png" class="image-logo">
       </a>
       <a href="{{Twitter}}">
           <img src ="../../../assets/Images/ntwiiter.png" class="image-logo">
       </a>
     
        
    </div>
   </div>









</div>


<div class="lower-footer">
<div class="footer-policy-content">
    <p class="peivacy-policy-heading heading-nestimate" routerLink="/PrivacyPolicy">Privacy Policy</p>
    <p class="peivacy-policy-heading heading-nestimate" routerLink="/terms">Terms & Condition</p>
</div>
    

</div>