.back {
  background-image: url(/assets/Images/handshake.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.upper-back {
  background-color: black;
  width: 100%;
  height: 250px;
  opacity: 0.5;
  
}

.upper-button {
  display: flex;
  justify-content: space-around;
  align-content: center;
  z-index: 100;
  position: relative;
  top: -145px;
}

.home-button {
  background-color: #244D93;
  color: white;
  width: 35%;
}



.home-text-font {

  color: #707070;
  margin-bottom: 0.5rem;
}

.btn-facebook {
  background-color: #244D93;
  color: white;
  width: 30%;
  height: 35px;
  text-align: center;
  margin: 0px;
  padding: 0px;

}

.btn-google {
  background-color: #DD4B33;
  color: white;
  width: 30%;
  height: 35px;
  text-align: center;
  margin: 0px;
  padding: 0px;

}



.social-button {
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-items: center;

}

.color-signup {
  color: #244D93;
}

.btn-social-login {
  width: 100%;
  background-color: #244D93;
  color: white;
  margin-top: 3%;
  border-radius: 19px;
  padding: 0.5em;

}

i.fa.fa-user.input-group-text.nav-login-form {
  position: absolute;
  font-size: 23px;
  left: 0px;
  width: 10%;
  z-index: 10;
  margin-top: -4%;
}

.social-login.text-center {
  padding: 15px;
}

.checkbox {
  background: none transparent;
  border: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  /* display: block; */
  height: auto;
  position: absolute;
  top: none;
  left: none;
  right: 9px;
  width: none;
  /* transition: all .2s; */
  display: flex;
  flex-direction: row;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  border: none;
}

.loading-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 9;
  background: black;
  opacity: 0.5;
}

.sign-in-main
{
  display: block;
}
.user-cross {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
img.button-cross {
  position: absolute;
  right: 0px;
  margin: 0px 10px;
  width: 16px;
}
.property-con-form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: left;
 
}
.continue-form {
  background-color: var(--light-blue-color);
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0vh;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nestimate-logo {
  display: flex;
  justify-content: center;
}
img.nestimate-logo {
  height: 22vh;
  margin-top: 3vh;
}
.overlay-text{
  color: white;
  font-family: 'Roboto-Medium';
  text-align: justify;
    word-spacing: -1px;
}

.overlay-text-third{
  color: white;
  font-family: 'Roboto-Medium';
}
.continue-text {
  margin: 2em;
  font-size: 17px;
  text-align: left;
}
.continue-button-container
{
  color: white;
  font-family: 'Roboto-Medium';
  font-size: 18px;
}
.continue-button-container {
  display: flex;
  justify-content: center;
  border: 3px solid white;
  margin: 0vh 15vw;
  padding: 0.6em;
  z-index: 500;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 1em;
}

.icon {
  padding: 10px;
  background: var( --DARK-BLUE-COLOR);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid var( --DARK-BLUE-COLOR);
}
.input-group {
 

  display: block;
 
}

.input-field:hover {
  border: 2px solid var( --DARK-BLUE-COLOR);
}
.hyper:hover
{
  cursor: pointer;
}
.policy
{
  text-align: center;
}



.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;

  line-height: 3rem;


  pointer-events: none;
  display: flex;
  color: #aaa;
  font-size: 22px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.form-control
{
  height: 7vh;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 1.5em;
  
    margin-bottom: 1rem;

    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}




/* New Form  */

.top-image-Login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
img.top-image-Login-Form {
  width: 50%;
}
.login-form-heading {
  margin: 1em 0em;
  color: var( --DARK-BLUE-COLOR);
}
.form-group.new-form-group {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  align-items: flex-start;
}
input.form-control.custom-field {
  height: 5vh;
}

.a-button-primary {
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.a-button {
  background: #e7e9ec;
  border-radius: 8px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-decoration: none!important;
  vertical-align: middle;
  margin: 1em 0em;
  width: 100%;
}
.a-button-primary .a-button-inner {
  background: rgb(16,60,115);
  background: linear-gradient(90deg, rgba(16,60,115,1) 0%, rgba(16,60,115,0.8379726890756303) 35%);

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1.2em 0em;
border-radius: 8px;
font-family: 'Roboto-Medium';

}
.a-button-inner {
  display: block;
  position: relative;
  overflow: hidden;
  height: 29px;
  box-shadow: 0 1px 0 rgb(16,60,115) inset;
  border-radius: 2px;
}
.a-button-input {
  position: absolute;
  background-color: transparent;
  color: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: .01;
  outline: 0;
  overflow: visible;
  z-index: 20;
}
.new-form-mat-card {
  padding: 1em;
  background-color: white;
  border: 1px solid lightgrey;
    margin: 1em;
}
.email-text-written
{
  color: var(--DARK-BLUE-COLOR);
  font-family: 'Roboto-Bold';
}
.a-box .a-divider.a-divider-break, .a-color-base-background .a-divider.a-divider-break, .a-divider.a-divider-break {
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
}
.a-box .a-divider.a-divider-break h5, .a-color-base-background .a-divider.a-divider-break h5, .a-divider.a-divider-break h5 {
  line-height: 1;
  font-size: 15px;
  color: #767676;
  font-weight: 400;
  z-index: 2;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 8px 0 7px;
}
.a-box .a-divider.a-divider-break:after, .a-color-base-background .a-divider.a-divider-break:after, .a-divider.a-divider-break:after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
}
div#legalTextRow {
  font-family: 'Roboto-Medium';
}
.signup-bottom-card {
  margin: 1em;
  background-color: white;
}
.main-template-form {
  background-color: white;
}
.a-button-signup .a-button-inner {
  background: #eff0f3;
  background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  text-align: center;
  color: var(--DARK-BLUE-COLOR);
  font-family: 'Roboto-Medium';
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
}
.a-button-inner {
  display: block;
  position: relative;
  overflow: hidden;
  height: 29px;
  box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
  border-radius: 2px;
}

@media screen and (min-width:700px)
{

  .main-background-login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 2;
    overflow: scroll;
    width: 100%;
    align-items: center;
}
.new-form-mat-card {
  padding: 1em;
  background-color: white;
  border: 1px solid lightgrey;
  margin: 1em;
  margin-top: 7em;
  width: 25vw;
}
.a-button-signup .a-button-inner {
  background: #eff0f3;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  text-align: center;
  color: var(--DARK-BLUE-COLOR);
  font-family: 'Roboto-Medium';
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  padding: 1em;
}

img.button-cross {
  position: absolute;
  right: 2.3em;
  margin: 0px 10px;
  width: 30px;
  top: 3vh;
}
.main-template-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}

.google-Login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0em;
}

.google-signup {
  width: 100vw;
  text-align: center;
  padding: 0.3em;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  border-radius: 7px;
  color: var(--DARK-BLUE-COLOR);
  font-family: 'Roboto-Medium';
  font-size: 1.1em;
}