<mat-dialog-content>
  Thanks for completing the first step! Your journey to finding the best offers for your property starts here.

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" mat-dialog-close tabindex="-1" routerLink="/sellerMatchlisting/Lookingpostcode/PropertyType/LookingTown/MaxAmount/latitude/longitude/{{newUser}}/PropertyFor/Lookingstate/Maxrooms/PropertyCondition/LookingAddress/ownership/features/UserId/Maxbathrooms/Maxreception/ownership/Maxrooms/{{data.id}}">{{cancelButtonText}}</button>
</mat-dialog-actions>
