<mat-dialog-content>
  Thanks for completing the first step! You are on your way to finding your perfect home! 

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" mat-dialog-close tabindex="-1"
    routerLink="/buyerMatchlisting/Lookingpostcode/PropertyType/LookingTown/MinAmount/MaxAmount/latitude/longitude/{{newUser}}/PropertyFor/LookingStreetname/Conditions/FinancialPosition/Validity/Position/UserId/ChainStatus/{{data.id}}">{{cancelButtonText}}</button>
</mat-dialog-actions>
