
  <div  *ngIf="buy">
    <mat-card>
      <img mat-card-image src="assets/Images/buyer.jpg" alt="" class="home-page-valuation">
      <div class="own-porpety-text">
        <p class="text-justify owna-property-text paragraph-color">
          Search our database of registered sellers or landlords <b>who are not actively on the market</b>,
           but might consider selling or renting their property if the right offer came along. </p>
      </div>
      <div class="own-property-list">
        <ul class="own-property-list-style">
          <li class="paragraph-color"><img src="assets/Images/dbbf56f08eab6855eff29ba53302404e-removebg-preview.png ">Enter the estimated ‘best price’ for you and see what’s possible. </li>
          <li class="paragraph-color"><img src="assets/Images/dbbf56f08eab6855eff29ba53302404e-removebg-preview.png">Start by registering your details here.</li>

        </ul>
        <div class="button-own-a-property">
          <button type="button" class="btn btn-own-property-offer mt-4 mb-2" routerLink="/fillFormBuyer">MAKE AN
            offer</button>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="own-property-image">
        <img src="/assets/Images/image-new.png" class="image-test">
        <p class="own-property-image-text pr-3 pl-3 pb-2 heading-nestimate">Start by registering your details here</p>
      </div>
    </mat-card>

    <mat-card>
      
      <p class="own-property-text-home-worth pt-2 heading-nestimate">How much is your
        home worth?</p>
      <p class="own-property-text-home-worth-ans paragraph-color">Get a free,
        no-obligation valuation of your home from
        one of our specially-selected local experts.</p>
    </mat-card>

    <mat-card>


      <div class="own-property-blog mt-3">
        <p class="own-property-blog-heading pt-2 heading-nestimate">
          Blog
        </p>
      </div>
<div class="own-property-blogs-content  paragraph-color">
  <div class="blog-image">
    <img src="assets/Images/asset-1.png" class="own-property-blog-image">
  </div>
  <div class="blog-text">
    <p class="own-property-blogs-content-c1"> Zoopla Cities House
      Price
      Index</p>
    <p class="own-property-blogs-content-c2">Annual house price
      growth in the UK’s most buoyant city has fallen below 5% for
      the first time since 2012.</p>
  </div>
</div>





<div class="own-property-blogs-content  paragraph-color">
  <div class="blog-image">
    <img src="assets/Images/asset-2.png" class="own-property-blog-image">
  </div>
  <div class="blog-text">
    <p class="own-property-blogs-content-c1-2 ">Housebuilding
      levels fall to
      three</p>
    <p class="own-property-blogs-content-c2-2">Less than 161,000
      properties were
      started in the year to the end of June, significantly below
      the Government’s target of 300,000.</p>
  </div>
</div>



<div class="own-property-blogs-content  paragraph-color">
  <div class="blog-image">
    <img src="assets/Images/asset-3.png" class="own-property-blog-image">
  </div>
  <div class="blog-text">
    <p class="own-property-blogs-content-c1-2 paragraph-color">Many first-time
      buyers </p>
    <p class="own-property-blogs-content-c2-2 paragraph-color">More than half of
      people taking their
      first step on the property ladder think
      they can borrow up to 10 times their income.</p>
  </div>
</div>
    </mat-card>

    <mat-card>
      <div class="own-property-blogs-content-2  heading-nestimate">
        <img mat-card-image src="assets/Images/buying.png">
        <p class="own-property-last-image-text">
          Buying property guides<br>

          <span class="own-property-last-line"> Get the latest advice
            and tips on buying</span>
        </p>

      </div>
    </mat-card>


  </div>



  <div *ngIf="sell">
    <mat-card>
      <img src="assets/Images/seller.jpg "alt="" mat-card-image>
      <div class="own-porpety-text">
        <p class="text-justify owna-property-text">Might you sell or let your property if offered the right price or rent?.</p>
      </div>

      <div class="own-property-list">
        <ul class="own-property-list-style">
          <li><img src="assets/Images/dbbf56f08eab6855eff29ba53302404e-removebg-preview.png">Register your home here and see what’s possible</li>
        </ul>
      </div>
      <div class="button-own-a-property">
        <button type="button" class="btn btn-own-property-offer mt-4 mb-4" routerLink="/fillformseller" >LIST PROPERTY
          NOW</button>
      </div>
      
    </mat-card>
    <mat-card>
      <div class="Looking-property-image heading-nestimate">
        <p class="looking-property-image-text pr-3 pl-3">Register your property with
          Streethook</p>
      </div>
    
    </mat-card>




    <mat-card>
      <div class="own-property-home-worth mt-4 pb-2 mb-2">
        
        <p class="own-property-text-home-worth pt-2">How much is your
          home worth?</p>
        <p class="own-property-text-home-worth-ans">Get a free,
          no-obligation valuation of your home from
          one of our specially-selected local experts.</p>

      </div>
    </mat-card>
    <mat-card>


      <div class="own-property-blog mt-3">
        <p class="own-property-blog-heading pt-2 heading-nestimate">
          Blog
        </p>
      </div>
<div class="own-property-blogs-content  paragraph-color">
  <div class="blog-image">
    <img src="assets/Images/asset-1.png" class="own-property-blog-image">
  </div>
  <div class="blog-text">
    <p class="own-property-blogs-content-c1"> Zoopla Cities House
      Price
      Index</p>
    <p class="own-property-blogs-content-c2">Annual house price
      growth in the UK’s most buoyant city has fallen below 5% for
      the first time since 2012.</p>
  </div>
</div>





<div class="own-property-blogs-content  paragraph-color">
  <div class="blog-image">
    <img src="assets/Images/asset-2.png" class="own-property-blog-image">
  </div>
  <div class="blog-text">
    <p class="own-property-blogs-content-c1-2">Housebuilding
      levels fall to
      three</p>
    <p class="own-property-blogs-content-c2-2">Less than 161,000
      properties were
      started in the year to the end of June, significantly below
      the Government’s target of 300,000.</p>
  </div>
</div>



<div class="own-property-blogs-content  paragraph-color">
  <div class="blog-image">
    <img src="assets/Images/asset-3.png" class="own-property-blog-image">
  </div>
  <div class="blog-text">
    <p class="own-property-blogs-content-c1-2">Many first-time
      buyers </p>
    <p class="own-property-blogs-content-c2-2">More than half of
      people taking their
      first step on the property ladder think
      they can borrow up to 10 times their income.</p>
  </div>
</div>
    </mat-card>
    <mat-card>
      <!-- <hr class="horizontal-line pt-3"> -->
      <div class="own-property-blogs-content-2 heading-nestimate">
        <img src="assets/Images/buying.png" class="own-property-last-image" mat-card-image>
        <p class="own-property-last-image-text">
          Buying property guides<br>
          <span class="own-property-last-line"> Get the latest advice
            and tips on buying</span>
        </p>
      </div>
    </mat-card>








  </div>

