<div class="agent-selected-detail-componet">

    <div class="agent-selected-detail-top-image">
        <img src="assets/Images/sidelogo.png" class="match-images">
     
    
    </div>
    
    
    
 <div class="seller-detail-component mt-5">
    
        <span class="heading-nestimate">
        Seller Detail
        </span>
    
    
        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                Desired Price:       
    
            </div>
    
    
            <div class="seller-right-side outputText">
                &pound;{{MaxAmount}}
    
            </div>
        </div>
    
    
        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate" >
                Postcode:             
    
            </div>
    
    
            <div class="seller-right-side outputText">
                {{Lookingpostcode}}
    
            </div>
        </div>
        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                No of Rooms:                   
    
            </div>
    
    
            <div class="seller-right-side outputText">
               {{Roomsmax}}
    
            </div>
        </div>
    
        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                Address:                   
    
            </div>
    
    
            <div class="seller-right-side outputText">
               {{LookingAddress}}
    
            </div>
        </div>

        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                Town:                   
    
            </div>
    
    
            <div class="seller-right-side outputText">
               {{LookingTown}}
    
            </div>
        </div>
    
        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                State:                   
    
            </div>
    
    
            <div class="seller-right-side outputText">
               {{Lookingstate}}
    
            </div>
        </div>
        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                Bathroom:                   
    
            </div>
    
    
            <div class="seller-right-side outputText">
               {{Maxbathroom}}
    
            </div>
        </div>

        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                Reception:                   
    
            </div>
    
    
            <div class="seller-right-side outputText">
               {{Maxreception}}
    
            </div>
        </div>




        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                Property Condition:                   
    
            </div>
    
    
            <div class="seller-right-side outputText">
               {{PropertyCondition}}
    
            </div>
        </div>

        
        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                PropertyType:                   
    
            </div>
    
    
            <div class="seller-right-side outputText">
               {{PropertyType}}
    
            </div>
        </div>

        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                Ownership:                   
    
            </div>
    
    
            <div class="seller-right-side outputText">
               {{ownership}}
    
            </div>
        </div>
        
      
    </div> 
    
    <div class="user-details">
        <span class="heading-nestimate">
            Seller Personal Detail
            </span>
        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
               Username                  
            </div>
            <div class="seller-right-side outputText">
              {{username}}
            </div>
        </div>
        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                Email                 
            </div>
            <div class="seller-right-side outputText">
              {{email}}
            </div>
        </div>
        <div class="seller-main-details">
       
            <div class="seller-left-side heading-nestimate">
                Phone                 
            </div>
            <div class="seller-right-side outputText">
              {{Phone}}
            </div>
        </div>
        <div class="seller-main-details">
        <div class="seller-left-side heading-nestimate">
            Address              
        </div>
        <div class="seller-right-side outputText">
          {{address}}
        </div>
    </div>

        
    </div>
    

    <div class="button-container">
        <div class="dark-blue-button" (click)="backClicked()">Back</div>
      </div>
    </div>
    
    
