<!--Top Area started-->
<div class="agent-top-heading-area">

    <div class="top-area-content-agent">

        <div class="top-area-agent-photo">
            <img src="{{agents.image}}" class="image-agent">
        </div>

        <div class="top-agent-heading">
            <div class="form-group has-search">
                <span class=" form-control-feedback"></span>
                <input class="form-control custom-field"  
                  name="email" [(ngModel)]="agents.Companyname">
              </div>
        </div>
    </div>
</div>
<!--Top Area Ended-->


<!--Detail Area started-->

<div class="details-user-agent">

    <div class="heading-item-detail-user">
   
        <span class="outputText">Name :</span>

    </div>

    <div class="heading-detail-user-output">
        <div class="form-group has-search">
            <span class=" form-control-feedback"></span>
            <input class="form-control custom-field"  
              name="email" [(ngModel)]="agents.Fullname">
          </div>

    

    </div>

</div>
<div class="details-user-agent">

    <div class="heading-item-detail-user">
   
        <span class="outputText">Address :</span>

    </div>

    <div class="heading-detail-user-output">
        <div class="form-group has-search">
            <span class=" form-control-feedback"></span>
            <input class="form-control custom-field"  
              name="email" [(ngModel)]="agents.Address">
          </div>
  

    </div>

</div>
<div class="details-user-agent">

    <div class="heading-item-detail-user">
   
        <span class="outputText">Postcode :</span>

    </div>

    <div class="heading-detail-user-output">
        <div class="form-group has-search">
            <span class=" form-control-feedback"></span>
            <input class="form-control custom-field"  
              name="email" [(ngModel)]="agents.Postcode">
          </div>

       

    </div>

</div>
<div class="details-user-agent">

    <div class="heading-item-detail-user">
   
        <span class="outputText">Phone Number :</span>

    </div>

    <div class="heading-detail-user-output">
        <div class="form-group has-search">
            <span class=" form-control-feedback"></span>
            <input class="form-control custom-field"  
              name="email" [(ngModel)]="agents.Phonenumber">
          </div>
     

    </div>

</div>
<div class="details-user-agent">

    <div class="heading-item-detail-user">
   
        <span class="outputText">Job title :</span>

    </div>

    <div class="heading-detail-user-output">
        <div class="form-group has-search">
            <span class=" form-control-feedback"></span>
            <input class="form-control custom-field"  
              name="email" [(ngModel)]="agents.Jobtitle">
          </div>
    

    </div>

</div>
<div class="details-user-agent">

    <div class="heading-item-detail-user">
   
        <span class="outputText">Sole Agency Fees :</span>

    </div>

    <div class="heading-detail-user-output">
        <div class="form-group has-search">
            <span class=" form-control-feedback"></span>
            <input class="form-control custom-field"  
              name="email" [(ngModel)]="agents.SinglePercentage">
          </div>
      

    </div>

</div>
<div class="details-user-agent">

    <div class="heading-item-detail-user">
   
        <span class="outputText">Multiple Agency Fees :</span>

    </div>

    <div class="heading-detail-user-output">
        <div class="form-group has-search">
            <span class=" form-control-feedback"></span>
            <input class="form-control custom-field"
              name="email" [(ngModel)]="agents.Multipercentage">
          </div>

   
    

    </div>

</div>

<div class="edit-detail-button">

    <span class="edit-button-span" (click)="editUserDetail(agents.id,agents.Fullname,agents.Address,agents.Postcode,agents.Phonenumber,agents.Jobtitle,agents.SinglePercentage,agents.Multipercentage)">Save</span>

</div>






